<template>
  <div class="list-box">
    <swiper :options="swiperOption">
      <swiper-slide v-for="(item, index) in data" :key="index">
        <jdh-item :data="item"></jdh-item>
      </swiper-slide>
      <swiper-slide></swiper-slide>
    </swiper>
  </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

import jdhItem from './item.vue'
export default {
  name: 'list',
  props: {
    data: {
      type: Array,
      default: () => {}
    }
  },
  data() {
    return {
      swiperOption: {
        freeMode : true,
        slidesPerView: 3,
        spaceBetween: 15
      }
    }
  },
  components: {
    swiper,
    swiperSlide,
    jdhItem
  }
}
</script>

<style scoped>
  .list-box {
    width: 100%;
    padding-top: .3rem;
    padding-left: .4rem;
    overflow: hidden;
  }
</style>