<template>
  <a class="item" :href="item.link">
    <div class="img-box">
      <img :src="item.imgUrl" alt="">
    </div>
    <div class="info-box">
      <p class="name">{{item.name}}</p>
      <div class="price">
        <gl-price>{{item.price | number2Decimal}}</gl-price>
      </div>
    </div>
  </a>
</template>

<script>
export default {
  name: 'item',
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      item: {
        link: 'javascript:;',
        imgUrl: '',
        desc: '',
        price: '0.00'
      }
    }
  },
  watch: {
    data: {
      immediate: true,
      handler(newVal, oldVal) {
        this.item.link   = `?${newVal.skuId}`;
        this.item.imgUrl = `https://m.360buyimg.com/babel/${newVal.picUrl}`;
        this.item.name   = `${newVal.name.substring(0, 12)}...`;
        this.item.price  = `${newVal.jdPrice}`;
      }
    }
  }
}
</script>

<style scoped>
  .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-between;
    width: 2.4rem;
    height: 4rem;
    background-color: #fff;
    border-radius: .1rem;
    overflow: hidden;
  }
  .item .img-box {
    width: 100%;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
  }
  .item .img-box>img {
    width: 2rem;
  }
  .item .info-box {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    align-content: space-between;
    height: 1.6rem;
    padding: .15rem .25rem;
    box-sizing: border-box;
  }
  .item .info-box .name {
    line-height: .36rem;
    font-size: .24rem;
    color: #333;
  }
  .item .info-box .price {
    padding-top: .1rem;
    color: #ec0420;
  }
</style>