<template>
  <transition name="fadeIn">
    <jdh-modal-activity-rule v-if="type === 'activityRule'" @close="close"></jdh-modal-activity-rule>
    <jdh-modal-own-card v-if="type === 'ownRecord'" @close="close"></jdh-modal-own-card>
    <jdh-modal-compose v-if="type === 'compose'" @close="close"></jdh-modal-compose>
  </transition>
</template>

<script>
import jdhModalOwnCard from './ownRecord'
import jdhModalActivityRule from './activityRule'
import jdhModalCompose from './compose'

export default {
  name: 'modal',
  props: ['type'],
  methods: {
    close() {
      this.$emit('close')
    }
  },
  components: {
    jdhModalOwnCard,
    jdhModalActivityRule,
    jdhModalCompose
  }
}
</script>

<style scoped>
  .fadeIn-enter-active {
    animation: modalShow 0.6s ease both;
  }
  .fadeIn-leave-active {
    animation: modalHide 0.6s ease both;
  }
  @keyframes modalShow {
    0%{
      transform: translateX(100%);
      opacity: 0;
    }
    100%{
      transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes modalHide {
    0%{
      transform: translateX(0%);
      opacity: 1;
    }
    100%{
      transform: translateX(100%);
      opacity: 0;
    }
  }
</style>