<template>
  <div class="scroll-vertical swiper-no-swiping">
    <swiper :options="swiperOption">
      <swiper-slide v-for="(item, index) in data" :key="index">
        <div class="item">{{item.text}}</div>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
export default {
  name: 'scroll-vertical',
  data() {
    return {
      swiperOption: {
        freeMode : true,
        direction : 'vertical',
        loop: true,
        height: 24,
        autoplay: {
          delay: 2000
        }
      },
      data: [
        {
          text: '张**在3分钟前合成了王卡'
        },
        {
          text: '王**在7分钟前获得了3级卡'
        },
        {
          text: '李**在3分钟前合成了5级卡'
        }
      ]
    }
  },
  components: {
    swiper,
    swiperSlide
  }
}
</script>

<style scoped>
  .scroll-vertical {
    width: 100%;
    height: 24px;
    overflow: hidden;
  }
  .scroll-vertical .item {
    padding: 7.5px 15px;
    line-height: 12px;
    font-size: 12px;
    text-align: center;
    color: #333;
  }
</style>