<template>
  <div class="page">
    <div class="header">
      <a href="javascript:;" v-for="(item, index) in navigations" :key="index"
        :class="[currentIndex == index ? 'active' : '']"
        @click="handleChangeNavigation(index)">{{item}}</a>
    </div>
    <div class="content">
      <div class="item" v-for="(item, index) in list" :key="index">
       <p>{{item.name}}</p>
       <p v-if="item.type === 'real'">京豆: {{item.price}}</p>
       <p v-else-if="item.type === 'luck'">仅限抽卡获得</p>
       <p v-else>金币: {{item.price}}</p>
       <a v-if="item.type === 'luck'" href="javascript:;">去抽卡</a>
       <a v-else href="javascript:;">购买</a>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'handbook',
  data() {
    return {
      currentIndex: 0,
      list: [],
      navigations: ['折扣卡片', '抽卡次数', '挖矿工具'],
      products: [
        [
          { name: '药品名称9.9折卡', type: 'virtual', price: 1000 },
          { name: '药品名称9.8折卡', type: 'virtual', price: 2000 },
          { name: '药品名称9.5折卡', type: 'virtual', price: 3000 },
          { name: '药品名称8.9折卡', type: 'real', price: 1000 },
          { name: '药品名称8.8折卡', type: 'real', price: 2000 },
          { name: '药品名称8.5折卡', type: 'real', price: 3000 },
          { name: '全场8折卡', type: 'luck', price: 0,  },
          { name: '全场7.5折卡', type: 'luck', price: 0,  },
          { name: '全场7折卡', type: 'luck', price: 0,  },
        ],
        [
          { name: '单抽', type: 'virtual', price: 100 },
          { name: '3连抽', type: 'virtual', price: 280 },
          { name: '5连抽', type: 'virtual', price: 450 }
        ],
        [
          { name: '铁镐', type: 'virtual', price: 100 },
          { name: '银镐', type: 'virtual', price: 300 },
          { name: '金镐', type: 'real', price: 1000 }
        ]
      ],
    }
  },
  created() {
    this.list = this.products[0];
  },
  methods: {
    handleChangeNavigation(index) {
      this.currentIndex = index;
      this.list = this.products[index];
    }
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header>a {
    height: .26rem;
    padding: .15rem .3rem;
    line-height: .26rem;
    font-size: .25rem;
    border: 1px solid #999;
    border-radius: 3px;
  }
  .header>a.active {
    color: #fff;
    background-color: #333;
    border-color: #333;
  }
  .content {
    position: relative;
    width: 6.9rem;
    margin: .3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .content .item {
    width: 2.1rem;
    height: 2.5rem;
    margin-right: .3rem;
    margin-bottom: .3rem;
    border: 1px solid #999;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    box-sizing: border-box;
  }
  .content .item>p {
    width: 100%;
    line-height: .48rem;
    font-size: .24rem;
    text-align: center;
  }
  .content>div:nth-child(3n) {
    margin-right: 0;
  }
  .content .item>a {
    height: .24rem;
    padding: .1rem .3rem;
    line-height: .24rem;
    font-size: .25rem;
    border: 1px solid #999;
    border-radius: 3px;
  }
</style>