<template>
  <div class="page">
    <div class="header"></div>
    <div class="content">
      <div class="item" v-for="(item, index) in list" :key="index"
       @click="handleLookCard">
       <p>{{item.name}}</p>
       <p>维修金: {{item.price}}</p>
       <a href="javascript:;">维修</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'handbook',
  data() {
    return {
      isShow: false,
      list: [
        { name: '铁镐', price: '43金币' },
        { name: '银镐', price: '87金币' },
        { name: '金镐', price: '50京豆' }
      ]
    }
  },
  methods: {
    handleLookCard(index) {
      this.isShow = true;
    },
    handleClose(index) {
      this.isShow = false;
    }
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header>a {
    height: .26rem;
    padding: .15rem .3rem;
    line-height: .26rem;
    font-size: .25rem;
    border: 1px solid #999;
    border-radius: 3px;
  }
  .header>a.active {
    color: #fff;
    background-color: #333;
  }
  .content {
    position: relative;
    width: 6.9rem;
    margin: .3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .content .item {
    width: 2.1rem;
    height: 2.5rem;
    margin-right: .3rem;
    margin-bottom: .3rem;
    border: 1px solid #999;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
  }
  .content .item>p {
    width: 100%;
    line-height: .48rem;
    font-size: .24rem;
    text-align: center;
  }
  .content .item>a {
    margin-top: .3rem;
    padding: .15rem .3rem;
    font-size: .24rem;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
  }
  .content>div:nth-child(3n) {
    margin-right: 0;
  }
</style>