<template>
  <div id="app" class="app center">
    <div class="content">
      <p>礼品卡</p>
      <p>123456789</p>
      <p>abcdefg</p>
    </div>
    <button href="javascript:;" :data-clipboard-text="clipboardInfo" class="button" @click="handleOperate">{{buttonText}}</button>
    <div class="mask" v-if="isShow">
      <!-- <img src="~images/tips.jpg" alt=""> -->
    </div>
  </div>
</template>

<script>
import ClipboardJS from 'clipboard'
import { getDeviceInfo } from '@/utils/device.js'
import { jsonSerialize } from '@/utils/index.js'
import { getUrlParams, openApp, judgePhoneType, isWeiXin } from '@/utils/tools.js'
import { requestPostActivityInfo } from '@/api/share-page/index.js'
import VConsole from 'vconsole'
export default {
  name: 'share-page',
  data() {
    return {
      isShow: false,
      buttonText: "立即使用",
      clipboardInfo: getUrlParams().inviteCode,
      schemeUrl: 'zhuanzhuan://jump/core/myBuyList/jump',
      iosDownloadUrl: 'itms-apps://itunes.apple.com/us/app/zhuan-zhuan-kuai-ren-yi-bu/id1002355194?l=zh&ls=1&mt=8',
      androidDownloadUrl: 'https://app.zhuanzhuan.com/zz/redirect/download'
    }
  },
  created() {
    new ClipboardJS('.button');
    new VConsole();
  },
  methods: {
    handleOperate() {
      if (isWeiXin()) {
        this.isShow = true;
        return false;
      }
      getDeviceInfo().then(result => {
        result.timestamp = new Date().getTime();
        result.inviteCode = this.clipboardInfo;
        requestPostActivityInfo(result)
          .then(res => {
            openApp(this.schemeUrl, () => {
              let { isAndroid } = judgePhoneType();
              window.location.href = !isAndroid ? this.iosDownloadUrl : this.androidDownloadUrl;
            });
          }, error => {
            console.log(error)
            console.log('失败')
          })
      });

    },
  }
}
</script>

<style>
  html, body {
    background-color: #fff!important;
    height: 100%;
  }
  #app {
    width: 7.5rem;
  }
  .app {
    width: 7.5rem;
    height: 100%;
    overflow: hidden;
  }
  .content {
    text-align: center;
    font-size: .28rem;
    line-height: .56rem;
  }
  .button {
    margin: 100px auto;
    text-align: center;
    background: #108ee9;
    color: #fff;
    border: 1px solid #108ee9;
    width: 200px;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 20px;
  }
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
  }
  .mask>img {
    float: right;
    width: 4.9rem;
    height: 3.94rem;
  }
</style>