<template>
	<div class="price-box" :class="[layout.isBold ? 'bold' : 'regular']">
		<i :style="layout.sign">￥</i>
		<span :style="layout.value">
			<slot></slot>
		</span>
	</div>
</template>

<script>
	export default {
		name: 'price',
		props: {
			layout: {
				type: Object,
				default: () => {
					return {
						isBold: true,
						sign: {
							fontSize: ".25rem"
						},
						value: {
							fontSize: ".4rem"
						}
					}
				}
			}
		}
	}
</script>

<style scoped>
	.price-box {
		font-size: 0rem;
	}
	.price-box.bold {
		/*font-family: "JDZhengHei-01-Bold"!important;*/
		font-weight: bold;
	}
	.price-box.regular {
		/*font-family: "JDZhengHei-01-Regular"!important;*/
		font-weight: normal;
	}
</style>