<template>
	<div v-show="false">
		<img v-for="(item, index) in data" :src="item" :key="index" alt="">
	</div>
</template>

<script>
	export default {
		name: 'img-pre-load',
		props: {
			data: {
				type: Array,
				default: () => {}
			}
		}
	}
</script>