<template>
  <div class="page">
    <div class="header">
      <img class="banner" src="~images/base/dot.png" alt="">
    </div>
    <a class="reset-card" href="javascript:;" @click="isReset && handleResetCard()">重置卡片</a>
    <div class="content">
      <div v-for="(item, index) in prizes" :key="index"
       :class="['item', `item-${index}`]"
       @click="isClick && handleLuckCard(index)">
        <div class="card after" :style="{transform: 'rotateY('+angles[index][0]+'deg)'}">
          <img :src="item.imgUrl" alt="">
        </div>
        <div class="card front"
          :class="[currentIndex === index ? '' : 'disabled']"
          :style="{transform: 'rotateY('+angles[index][1]+'deg)'}">{{item.value}}</div>
      </div>
    </div>
    <div class="footer rule">
      <h3>抽卡规则</h3>
      <div class="rule-content">
        <p v-for="(item, index) in rules" :key="index">{{ item }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'luck-draw',
  data() {
    return {
      currentIndex: -1,
      isClick: true,
      isReset: false,
      angles: [
        [0, 180],
        [0, 180],
        [0, 180],
      ],
      prizes: [
        { value: '1星', imgUrl: require('images/base/dot.png') },
        { value: '2星', imgUrl: require('images/base/dot.png') },
        { value: '3星', imgUrl: require('images/base/dot.png') }
      ],
      rules: [
        '1. 每天赠送1次免费抽卡机会',
        '2. 免费机会用完以后，每次抽卡消耗 n × 10 金币',
        '3. ...',
      ]
    }
  },
  methods: {
    handleLuckCard(index) {
      let result = this.angles[index].slice(0).reverse();
      this.currentIndex = index;
      this.isClick = false;
      new Promise(resolve => {
        this.angles.splice(index, 1, result);
        setTimeout(() => {
          resolve()
        }, 1000)
      }).then(res => {
        this.angles = this.angles.map(item => {
          return result;
        });
        setTimeout(() => {
          this.isReset = true;
        }, 1000)
      })
    },
    handleResetCard() {
      this.isReset = false;
      this.angles = this.angles.map(item => {
        return [ 0, 180 ]
      })
      setTimeout(() => {
        this.isClick = true;
      }, 1000)
    }
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 3.5rem;
  }
  .header img.banner {
    width: 100%;
    height: 100%;
  }
  .reset-card {
    display: block;
    width: 2rem;
    height: .26rem;
    margin: .3rem auto;
    padding: .2rem 0;
    line-height: .26rem;
    font-size: .26rem;
    text-align: center;
    border: 1px solid #999;
    border-radius: 3px;
  }
  .content {
    position: relative;
    width: 6.9rem;
    height: 3rem;
    margin: .3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content .item {
    position: absolute;
    top: 0;
    width: 2.2rem;
    height: 3rem;
    line-height: 3rem;
    font-size: .32rem;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    perspective: 3000px;
    overflow: hidden;
  }
  .content .item.item-0 {
    left: 0;
  }
  .content .item.item-1 {
    left: 2.35rem;
  }
  .content .item.item-2 {
    left: 4.7rem;
  }
  .content .item .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1.6s;
    backface-visibility: hidden;
  }
  .content .item .card>img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .content .item .after {
    transform: rotateY(0deg);
  }
  .content .item .front {
    background-color: #ccc;
    transform: rotateY(180deg);
  }
  .content .item .front.disabled {
    color: #ccc;
    background-color: #eee;
  }
  .rule {
    width: 100%;
    font-size: .24rem;
  }
  .rule>h3 {
    height: .8rem;
    line-height: .8rem;
    font-size: .3rem;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #999;
  }
  .rule-content {
    width: 6.9rem;
    margin: .3rem auto;
  }
  .rule-content>p {
    line-height: .36rem;
  }
</style>