<template>
  <transition name="fadeIn">
    <jdh-modal-rule v-if="type == 'rule'" :data="data"></jdh-modal-rule>
    <jdh-modal-partake-record v-if="type == 'partakeRecord'" :data="data"></jdh-modal-partake-record>
    <jdh-modal-packet-record v-if="type == 'packetRecord'" :data="data"></jdh-modal-packet-record>
  </transition>
</template>

<script>
import jdhModalRule from './rule'
import jdhModalPartakeRecord from './partakeRecord'
import jdhModalPacketRecord from './packetRecord'

export default {
  name: 'modal-full-Screen',
  props: ['type', 'data'],
  components: {
    jdhModalRule,
    jdhModalPartakeRecord,
    jdhModalPacketRecord
  }
}
</script>

<style scoped>
  .fadeIn-enter-active {
    animation: modalShow 0.6s ease both;
  }
  .fadeIn-leave-active {
    animation: modalHide 0.6s ease both;
  }
  @keyframes modalShow {
    0%{
      transform: translateX(100%);
      opacity: 0;
    }
    100%{
      transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes modalHide {
    0%{
      transform: translateX(0%);
      opacity: 1;
    }
    100%{
      transform: translateX(100%);
      opacity: 0;
    }
  }
</style>