<template>
    <div class="content">
        <div class="title">{{title}}</div>
<!--        <div class="subtitle">{{creator}}</div>-->
        <div class="titleWrap">
            <div class="subtitle">{{cateList}}</div>
            <div class="subtitle">{{auditTime}}</div>
        </div>
        <img width="100%" :src="titleImg">
        <div class="article" v-html="content"></div>
        <!--<div class="suggest">-->
        <!--<textarea placeholder="我要反馈..." class="text" rows="3" cols="20">-->
        <!--</textarea>-->
        <!--<div>-->

        <!--</div>-->
        <!--</div>-->
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: "articles", //文章详情
        data(){
            return{
                title:'',//文章标题
                summary:'',//文章
                creator:'',////文章作者
                content:null,//文章内容
                id:null,//文章id
                titleImg:'',
                cateList:''
            }
        },
        mounted(){
            this.getData(this.GetUrlParam('id'))
            // alert(this.GetUrlParam('id'))
        },
        methods:{
            GetUrlParam(paraName) {
                var url = document.location.toString();
                var arrObj = url.split("?");
                if (arrObj.length > 1) {
                    var arrPara = arrObj[1].split("&");
                    var arr;
                    for (var i = 0; i < arrPara.length; i++) {
                        arr = arrPara[i].split("=");

                        if (arr != null && arr[0] == paraName) {
                            return arr[1];
                        }
                    }
                    return "";
                }
                else {
                    return "";
                }
            },
            getData(id){
                let that = this
                axios.get('https://api.m.jd.com/api?functionId=jdh_article_getArticleById&appid=jd_healthy_wx&body={"id":'+id+'}')
                    .then(function (response) {
                        that.title = response.data.data.title
                        that.summary = response.data.data.summary
                        that.content = response.data.data.content
                        that.titleImg = response.data.data.titlePicUrl
                        that.creator= response.data.data.creator
                        let temp = response.data.data.labelInfos
                        for (let i = 0; i < temp.length; i++) {
                            that.cateList += temp[i].name + '  '
                        }
                        that.auditTime = response.data.data.auditTime
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    };
</script>

<style scoped>
    .content{
        padding: .4rem;
    }
    .title{
        font-family: 'PingFang-SC-Semibold';
        font-size: 22px;
        font-weight: bold;
        color: #262626;
        letter-spacing: 0;
        text-align: left;
        line-height: 30px;
    }
    .subtitle{
        color:#8C8C8C;
        font-size: 16px;
        line-height: 24px;
        margin: .3rem 0;
    }
    .suggest{
    }
    .article{
        color:#303030;
        font-size: 16px;
    }
    .article strong {
        line-height: 22px;
        color:#303030;
        font-size: 18px;
        font-weight: bold;
    }
    .article p {
        line-height: 22px;
        color: #8C8C8C;
        font-size: 16px;
    }
    .titleWrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>
