<template>
  <div class="modal-partake-record-box">
    <div class="center list" v-if="list.length > 0">
      <div v-for="(item, index) in list" :key="index"
        :class="['item', item.className]">
        <div class="desc">
          <h3 class="title">{{item.name}}</h3>
          <p class="note">{{item.text1}}</p>
          <p class="time">{{item.endDate}}</p>
        </div>
        <div class="count-down" v-if="item.status === 'boosting'">
          <div class="remain-time" v-if="item.text2">
            <p>{{item.text2}} <span>{{item.countDown[0]}}</span> : <span>{{item.countDown[1]}}</span> : <span>{{item.countDown[2]}}</span></p>
          </div>
          <a class="button-invite" href="javascript:;"
            @click="handleInvite($event)">邀请助力</a>
        </div>
        <div class="icon" v-else></div>
      </div>
    </div>
    <div v-else class="empty-box">
      <img src="images/partake-record-icon-empty.png" alt="">
      <p>您还没参与活动哦</p>
    </div>
    <a @click="handleClick" class="buttonCloseModal" href="javascript:;">×</a>
  </div>
</template>

<script>
import { formatDate, countDate } from '@/utils/index.js'

export default {
  name: 'modal-partake-record-box',
  props: ['data'],
  data() {
    return {
      partakeRecordType: [ '助力中', '已结束' ],
      emptyImgUrl: require('images/partake-record-icon-empty.png'),
      classNames: ['boosting', 'success', 'no-complete'],
      list: [],
      timer: null,
      currentTime: new Date().getTime()
    }
  },
  created() {
    clearInterval(this.timer);
    this.handleUpdateList();
    this.timer = setInterval(() => {
      this.handleUpdateList();
    }, 1000);
  },
  watch: {
    data: {
      immediate: true,
      handler(newVal, oldVal) {
        let list = [];
        let status = '';
        let text1 = '';
        let text2 = '距结束还剩';
        let names = this.partakeRecordType;
        let classNames = this.classNames;
        let buttonText = this.buttonText;

        newVal.forEach(item => {
          text1 = `距${item.ladderPeople}人阶梯还差${item.requiredQuantity}人`;
          if (item.boostState == 1000) {
            status = 'boosting';
          } else if (item.boostState == 1001) {
            status = 'success';
            text1 = `${item.ladderPeople}人阶梯已全部完成`;
          } else if (item.boostState == 2000) {
            status = 'success';
          } else if (item.boostState == 2001) {
            status = 'no-complete';
          } else {
            console.warn(`boostState value: ${item.boostState}`);
          }

          list.push({
            status: status,
            name: status == 'boosting' ? names[0] : names[1],
            text1: text1,
            text2: text2,
            className: status == 'boosting' ? classNames[0] : status == 'success' ? classNames[1] : classNames[2],
            endDate: formatDate(item.endDate, '.'),
            buttonText: buttonText,
            countDown: ['00', '00', '00'],
            timestamp: item.countdown
          });
        });

        this.list = list;
      }
    }
  },
  methods: {
    handleInvite(e) {
      this.EventBus.$emit("inviteHelping", e);
    },
    handleClick(val) {
      this.EventBus.$emit('emitCloseModal');
    },
    handleUpdateList() {
      
      this.list.forEach(item => {
        if (item.status == 'boosting') {
          let endTime = this.currentTime + item.timestamp;
          item.countDown = countDate(endTime).split(':');
        }
      });
      this.list = [].concat(this.list);
    }
  }
}
</script>

<style scoped>
  .modal-partake-record-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    overflow: scroll;
    background-color: #fff;
  }
  .modal-partake-record-box .empty-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
  }
  .modal-partake-record-box .empty-box>img {
    width: 2.8rem;
    height: 2.8rem;
  }
  .modal-partake-record-box .empty-box>p {
    width: 100%;
    margin-top: .4rem;
    font-size: .3rem;
    color: #2E2D2D;
    text-align: center;
  }
  .modal-partake-record-box .list {
    width: 6.9rem;
    padding: 1rem 0rem .3rem;
  }
  .modal-partake-record-box .list .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    margin-bottom: .3rem;
    padding: .3rem;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
  }
  .modal-partake-record-box .list .item.boosting {
    color: #fff;
    background-image: url(~images/partake-record-boosting.png);
  }
  .modal-partake-record-box .list .item.no-complete,
  .modal-partake-record-box .list .item.success {
    color: #868585;
    background-image: url(~images/partake-record-complete.png);
  }
  .modal-partake-record-box .list .item .desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-between;
    width: 3rem;
    height: 1.7rem;
  }
  .modal-partake-record-box .list .item .count-down {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: space-between;
    height: 1.7rem;
  }
  .modal-partake-record-box .list .item .count-down .remain-time {
    width: 100%;
    font-size: .24rem;
    text-align: right;
  }
  .modal-partake-record-box .list .item .count-down .remain-time>p {
    height: .4rem;
    line-height: .4rem;
    vertical-align: middle;
  }
  .modal-partake-record-box .list .item .count-down .button-invite {
    position: relative;
    display: block;
    width: 1.72rem;
    height: .62rem;
    padding: 0 .2rem;
    line-height: .62rem;
    font-size: .24rem;
    color: #EC0420;
    text-align: right;
    background: url(~images/partake-record-button-bg.png) center no-repeat / 100% 100%;
    box-sizing: border-box;
  }
  .modal-partake-record-box .list .item .count-down .button-invite::before {
    position: absolute;
    top: 50%;
    left: .2rem;
    width: .18rem;
    height: .26rem;
    content: "";
    transform: translateY(-50%);
    background: url(~images/partake-record-icon-button.png) center no-repeat / 100% 100%;
  }
  .modal-partake-record-box .list .item .count-down .remain-time>p>span {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    line-height: .4rem;
    font-size: .2rem;
    color: #EC0420;
    text-align: center;
    vertical-align: middle;
    background: url(~images/partake-record-react.png) center no-repeat / 100% 100%;
  }
  .modal-partake-record-box .list .item .desc .title {
    width: 100%;
    height: .44rem;
    padding-left: .5rem;
    line-height: .44rem;
    font-size: .44rem;
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: .3rem .44rem;
  }
  .modal-partake-record-box .list .item .desc .note,
  .modal-partake-record-box .list .item .desc .time {
    width: 100%;
    font-size: .24rem;
  }
  .modal-partake-record-box .list .item .icon {
    width: 1.24rem;
    height: 1.24rem;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .modal-partake-record-box .list .item.boosting .title {
    background-image: url(~images/partake-record-rocket.png);
  }
  .modal-partake-record-box .list .item.success .title,
  .modal-partake-record-box .list .item.no-complete .title {
    background-image: url(~images/partake-record-icon-complete.png);
  }
  .modal-partake-record-box .list .item.no-complete .icon {
    background-image: url(~images/partake-record-icon-nocomplete.png);
  }
  .modal-partake-record-box .list .item.success .icon {
    background-image: url(~images/partake-record-icon-success.png);
  }
  .modal-partake-record-box .buttonCloseModal {
    position: fixed;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    font-size: .8rem;
    font-weight: 100!important;
    text-align: center;
    color: #000;
  }
  
</style>