<template>
  <div class="circle">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <circle cx=".15rem" cy=".15rem" r=".15rem" fill="#040404"></circle>
      <text x=".15rem" y=".15rem" text-anchor="middle" dominant-baseline="middle" style="fill: #fff">
        <slot></slot>
      </text>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'component-circle'
}
</script>

<style scoped>
  .circle {
    width: .3rem;
    height: .3rem;
    font-size: .2rem;
    line-height: 0;
  }
</style>