<template>
  <div class="modal-packet-box">
    <gl-modal-button-close></gl-modal-button-close>
    <gl-modal-top-title class="modal-title">
      恭喜获得<span style='font-size: .4rem'>翻倍</span>红包 !
    </gl-modal-top-title>
    <div class="modal-packets">
      <div class="packet-1-times">
        <div class="modal-price">
          <gl-price :layout="layout.single">{{(price/2) | number2Decimal}}</gl-price>
        </div>
      </div>
      <div class="arrow"></div>
      <div class="packet-2-times">
        <div class="modal-price">
          <gl-price :layout="layout.double">{{price | number2Decimal}}</gl-price>
        </div>
      </div>
    </div>
    <gl-modal-button-ensure
      class="modal-button-ensure"
      :type="'goHall'">我要逛会场</gl-modal-button-ensure>
  </div>
</template>

<script>
export default {
  name: 'modal-packet-03',
  props: ['data'],
  data() {
    return {
      layout: {
        single: {
          isBold: true,
          sign: { fontSize: ".13rem" },
          value: { fontSize: ".26rem" }
        },
        double: {
          isBold: true,
          sign: { fontSize: ".2rem" },
          value: { fontSize: ".34rem" }
        }
      },
      price: '0.00'
    }
  },
  watch: {
    data: {
      immediate: true,
      handler(newVal, oldVal) {
        this.price = newVal.readBagPrice || 0;
      }
    }
  }
}
</script>

<style scoped>
  .modal-packet-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6.4rem;
    height: 7.8rem;
    margin-top: -3.9rem;
    margin-left: -3.2rem;
    background-image: url(../../../../../assets/images/every-day-get-packet/modal-packet-bg3.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 6.4rem;
  }
  .modal-packet-box .modal-title {
    top: 2.2rem;
    left: 1.1rem;
  }
  .modal-packet-box .modal-packets {
    position: absolute;
    top: 2.7rem;
    left: 1.7rem;
    width: 3.3rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: .1rem;
    color: rgba(236,4,32,1);
  }
  .modal-packet-box .modal-packets .packet-1-times {
    width: 1.17rem;
    height: 1.6rem;
    background-image: url(../../../../../assets/images/every-day-get-packet/moadal-packet-1-times.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
  }
  .modal-packet-box .modal-packets .packet-2-times {
    width: 1.38rem;
    height: 1.89rem;
    background-image: url(../../../../../assets/images/every-day-get-packet/moadal-packet-2-times.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
  }
  .modal-packet-box .modal-packets .packet-1-times .modal-price,
  .modal-packet-box .modal-packets .packet-2-times .modal-price {
    margin-top: .4rem;
    text-align: center;
  }
  .modal-packet-box .modal-packets .arrow {
    position: relative;
    width: .4rem;
    height: .35rem;
    margin-top: .5rem;
    align-self: center;
    background: url(../../../../../assets/images/every-day-get-packet/red-arrow.png) center no-repeat / 100% 100%;
  }
  .modal-packet-box .modal-button-ensure {
    left: 1.525rem;
    bottom: .5rem;
  }
</style>