<template>
  <div class="page">
    <div class="header">
      <p>倒计时：还剩<span>10</span>秒</p>
      <div class="title-number">第1题(1/3)</div>
    </div>
    <div class="content">
      <div class="title">可以用水扑灭的火灾是下列哪种物质？</div>
      <div class="item">A. 油类起火</div>
      <div class="item">B. 酒精起火</div>
      <div class="item">C. 电器起火</div>
      <div class="item">D. 棉被起火</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'answer',
  data() {
    return {
      rules: [
        '1. 每人每天默认一次答题，分享后获得一次机会，每天最多可增加3次答题机会',
        '2. 每题限时10秒，答对可获得金币奖励',
        '3. 每周二晚上19:00-21:00开启开启闯关模式',
        '4. 闯关到第10关之后，可开启挑战模式',
        '5. ...',
      ]
    }
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
  }
  .header>p {
    width: 100%;
    line-height: 1rem;
    font-size: .26rem;
    text-align: center;
  }
  .header .title-number {
    width: 100%;
    height: .8rem;
    margin: 0 auto;
    line-height: .8rem;
    font-size: .26rem;
    text-align: center;
    border-bottom: 1px solid #999;
  }
  .content {
    position: relative;
    width: 6.9rem;
    margin: .3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .content .title {
    width: 5.3rem;
    height: .8rem;
    margin-bottom: .3rem;
    line-height: .8rem;
    font-size: .26rem;
  }
  .content .item {
    width: 5rem;
    margin-bottom: .3rem;
    padding: .2rem .3rem;
    line-height: .26rem;
    font-size: .26rem;
    text-align: left;
    border: 1px solid #333;
    border-radius: 3px;
  }
</style>