<template>
  <div class="page">
    <div class="header">
      <a href="javascript:;" v-for="(item, index) in navigations" :key="index"
        :class="[currentIndex == index ? 'active' : '']"
        @click="handleChangeNavigation(index)">{{item}}</a>
    </div>
    <div class="content">
      <table>
        <tr v-for="item in 15" :key="item">
          <td v-for="item in 10" :key="item"></td>
        </tr>
      </table>
    </div>
    <div class="header">
      <a href="javascript:;" v-for="(item, index) in tools" :key="index"
        :class="[currentIndex2 == index ? 'active' : '']"
        @click="handleChangeTools(index)">{{item}}</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'handbook',
  data() {
    return {
      currentIndex: 0,
      currentIndex2: 2,
      navigations: ['矿场地图1', '矿场地图2', '矿场地图3'],
      tools: ['铁镐', '银镐', '金镐'],
      list: []
    }
  },
  methods: {
    handleChangeNavigation(index) {
      this.currentIndex = index;
      this.list = this.products[index];
    },
    handleChangeTools(index) {
      this.currentIndex2 = index;
    }
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header>a {
    height: .26rem;
    padding: .15rem .3rem;
    line-height: .26rem;
    font-size: .25rem;
    border: 1px solid #999;
    border-radius: 3px;
  }
  .header>a.active {
    color: #fff;
    background-color: #333;
    border-color: #333;
  }
  .content {
    position: relative;
    width: 100%;
    margin: .3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .content table {
    width: 100%;
    border-collapse: collapse;
  }
  .content table td {
    width: .5rem;
    height: .5rem;
    padding: .1rem;
    border: 1px solid #000;
    background-color: #333;
  }
</style>