<template>
    <div>
        <mt-header fixed title="优惠券">
            <router-link to="/" slot="left">
                <mt-button icon="back"></mt-button>
            </router-link>
            <mt-button icon="more" slot="right"></mt-button>
        </mt-header>
        <mt-navbar fixed class="tabs" v-model="selected">
            <mt-tab-item id="1">全部</mt-tab-item>
            <mt-tab-item id="2">京券</mt-tab-item>
            <mt-tab-item id="3">东券</mt-tab-item>
            <mt-tab-item id="4">运费券</mt-tab-item>
        </mt-navbar>
        <ul class="list" v-infinite-scroll="loadMore"
                infinite-scroll-disabled="loading"
                infinite-scroll-distance="10">
            <li v-for="(item,index) in list" :key="index">
                <div class="coupon-wrap">
                    <div class="coupon-item-left">
                    </div>
                    <div class="text-wrap">
                        <span class="price">¥888</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "coupon",
        data(){
            return{
                selected:'1',
                list:[1,2,3,4,5]
            }
        },
        mounted() {
        },
        methods:{
            loadMore() {
                this.loading = true;
                setTimeout(() => {
                    let last = this.list[this.list.length - 1];
                    for (let i = 1; i <= 10; i++) {
                        this.list.push(last + i);
                    }
                    this.loading = false;
                }, 2500);
            }
        }
    }
</script>

<style scoped>
    .tabs{
        margin-top: 30px;
    }
    .list{
        margin-top: 80px;
    }
    .coupon-wrap{
        border: 1px solid #cccccc;
        margin: 10px 10px;
    }
    .coupon-item-left{
        background-color: #108ee9;
        height: 130px;
        width: 140px;
        border-radius: 10px;
    }
    .text-wrap{
        position: absolute;
    }
    .price{
        font-size: 40px;
        color:#fff;
        margin-left: 20px;
        font-weight: bold;
    }
</style>
