<template>
  <div class="list-task">
    <div class="item">
      <div class="left-box">
        <p>好友助力</p>
        <p>新用户助力成功必得E类卡</p>
        <p>老用户助力成功抽卡次数 +1</p>
      </div>
      <div class="right-box">
        <a href="javascript:;" class="">邀请好友</a>
      </div>
    </div>
    <div class="item">
      <div class="left-box">
        <p>每日签到</p>
        <p>每日签到，抽卡次数 +1</p>
      </div>
      <div class="right-box">
        <a href="javascript:;" class="disabled">已签到</a>
      </div>
    </div>
    <div class="item">
      <div class="left-box">
        <p>累计签到</p>
        <p>累计签到30天，抽卡次数 +2</p>
      </div>
      <div class="right-box">
        <a href="javascript:;" class="">未完成</a>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'list-task',
  data() {
    return {}
  }
}
</script>

<style scoped>
  .list-task {
    padding: .3rem;
  }
  .list-task .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    margin-bottom: .3rem;
    padding: .3rem;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: .05rem;
  }
  .list-task .item .left-box {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    width: 60%;
    font-size: .26rem;
    color: #333;
  }
  .list-task .item .left-box>p {
    width: 100%;
  }
  .list-task .item .right-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-task .item .right-box>a {
    display: inline-block;
    padding: .15rem .3rem;
    line-height: .26rem;
    font-size: .26rem;
    color: #333;
    border: 1px solid #333;
    border-radius: .6rem;
  }
  .list-task .item .right-box>a.disabled {
    color: #fff;
    background-color: #ccc;
    border: 1px solid #ccc;
  }
</style>