<template>
    <div>
<!--        <mt-header  title="用户反馈">-->
<!--&lt;!&ndash;            <router-link to="/" slot="left">&ndash;&gt;-->
<!--&lt;!&ndash;                <mt-button icon="back"></mt-button>&ndash;&gt;-->
<!--&lt;!&ndash;            </router-link>&ndash;&gt;-->
<!--        </mt-header>-->
        <div class="wrap">
            <div style="font-size: 16px;font-weight: bold;">用户反馈类型</div>
            <!--        <div class="wrap" style="font-size: 14px;">-->
            <!--            <div class="btn">功能异常</div>-->
            <!--            <div class="btn">优化建议</div>-->
            <!--            <div class="btn">其他反馈</div>-->
            <!--        </div>-->
            <div style="display: flex;flex-direction: row;justify-content:space-between;margin-top: 10px;">
                <mt-button plain @click="setType('1')" style="width: 100px" :type="type=='1'?'danger':'default'" size="small">功能异常</mt-button>
                <mt-button plain @click="setType('2')" style="width: 100px" :type="type=='2'?'danger':'default'" size="small">优化建议</mt-button>
                <mt-button plain @click="setType('3')" style="width: 100px" :type="type=='3'?'danger':'default'" size="small">其他反馈</mt-button>
            </div>
            <textarea rows="10" v-model="content" style="background: rgba(227,227,227,0.12);width:100%;font-size: 14px;border: 1px solid #ccc;margin-top:10px;" placeholder="请选择问题类型，并填写3个字以上的反馈，我们将尽快解决">
            </textarea>
            <div style="display: flex;flex-direction: row;margin-top: 10px;">
                <span style="font-size: 14px;font-weight: bold;">手机号：</span><input v-model="phone" style="font-size: 14px;font-weight: bold;" placeholder="请输入手机号"/>
            </div>
            <mt-button @click="getData" size="small" style="width:100%;margin-top: 100px;" type="danger">
                提交
            </mt-button>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "coupon",
        data(){
            return{
                selected:'1',
                list:[1,2,3,4,5],
                type:'1',
                typeText:'',
                phone:'',
                content:'',
                reg:/^[1][3,4,5,7,8][0-9]{9}$/
            }
        },
        mounted() {
        },
        methods:{
            setType(t){
                this.type=t
                this.typeText=t=='1'?'功能异常':(t=='2'?'优化建议':'其他反馈')
            },
            loadMore() {
                this.loading = true;
                setTimeout(() => {
                    let last = this.list[this.list.length - 1];
                    for (let i = 1; i <= 10; i++) {
                        this.list.push(last + i);
                    }
                    this.loading = false;
                }, 2500);
            },
            getData(){
                if(this.content.length<3){
                    toast.show({
                        text: `请输入至少三个字的反馈内容`,
                        duration: 1500
                    })
                    return;
                }
                if(!this.reg.test(this.phone)){
                    toast.show({
                        text: `手机号码有误，请检查`,
                        duration: 1500
                    })
                    return;
                }
                let that = this
                axios.defaults.crossDomain = true;
                axios.defaults.withCredentials  = true;
                axios.post('https://api.m.jd.com/api?functionId=feedbackCollectorCreate&body={"source":"jdh","dsCode":"EAFC73D044DBB95732AED5D1322E7BDEB654FCCF","content":"'+this.content+'","contact":"'+this.phone+'","type":"'+this.typeText+'"}&jsonp=&appid=jd_healthy_wx&loginType=2&fromType=wxapp×tamp=1568727224247&uuid=7bc5d1845b27b14b64a1ae84e78c1c1fd61',)
                    .then(function (res) {
                        toast.show({
                            text: `我们已收到您的反馈，会尽快为您解决`,
                            duration: 3000
                        })
                    })
                    .catch(function (error) {

                    })
            }
        }
    }
</script>

<style scoped>
    .wrap{
        padding: 10px;
    }
    .btn{
        border: 1px solid #ccc;
    }
</style>
