<template>
  <div class="center advert-box">
    <a class="advert-box"
      v-for="(item, index) in list"
      :key="index"
      :href="item.jumpUrl">
      <img :src="item.imgUrl" :style="{width: item.width, height: item.height}" alt="">
    </a>
  </div>
</template>

<script>
export default {
  name: 'adverts',
  props: ['data'],
  data() {
    return {
      list: []
    }
  },
  watch: {
    data: {
      immediate: true,
      handler(newVal, oldVal) {
        let arr = [];
        newVal.forEach(item => {
          arr.push({
            width: '6.7rem',
            height: `${item.picHeight * (6.7 / item.picWidth)}rem`,
            jumpUrl: item.link,
            imgUrl: item.pictureUrl
          })
        });
        this.list = arr;
      }
    }
  }
}
</script>

<style scoped>
  .advert-box {
    width: 6.7rem;
    height: 1.7rem;
    margin-top: .3rem;
  }
  .advert-box>a {
    display: block;
    margin-bottom: .3rem;
  }
  .advert-box>a>img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .1rem;
  }
</style>