<template>
  <div class="modal">
    <div class="mask"></div>
    <jdh-modal-full-screen :type="type" @close="close"></jdh-modal-full-screen>
    <jdh-modal-card :type="type" @close="close"></jdh-modal-card>
  </div>
</template>

<script>
import jdhModalFullScreen from './fullScreen'
import jdhModalCard from './card'

export default {
  name: 'modal',
  props: ['type'],
  methods: {
    close() {
      this.EventBus.$emit('closeModal')
    }
  },
  components: {
    jdhModalFullScreen,
    jdhModalCard
  }
}
</script>

<style scoped>
  .modal {
    width: 100%;
    height: 100%;
  }
  .modal .mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
  }
</style>