<template>
  <div class="page">
    <div class="header">
      <img class="banner" src="~images/base/dot.png" alt="">
    </div>
    <div class="content">
      <div class="nagigations">
        <div class="item" v-for="(item, index) in nagigations" :key="index">
          {{item}}
        </div>
      </div>
      <div class="list" :style="{height: `${listHeight}px`}">
        <div class="row" v-for="(item, index) in list.concat(list).concat(list)" :key="index">
          <div class="column">
            {{index+1}}
          </div>
          <div class="column">
            <img :src="item.portrait" alt="">
          </div>
          <div class="column">{{item.nickname}}</div>
          <div class="column">{{item.quantity}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'rank-list',
  data() {
    return {
      currentIndex: 0,
      listHeight: 450,
      nagigations: [ '排行', '头像', '昵称', '金币' ],
      list: [
        { portrait: require('images/base/dot.png'), nickname: '张三', quantity: 10000 },
        { portrait: require('images/base/dot.png'), nickname: '李四', quantity: 8000 },
        { portrait: require('images/base/dot.png'), nickname: '王五', quantity: 6000 },
        { portrait: require('images/base/dot.png'), nickname: '赵六', quantity: 3000 },
        { portrait: require('images/base/dot.png'), nickname: '张三', quantity: 900 },
        { portrait: require('images/base/dot.png'), nickname: '张三', quantity: 300 },
      ]
    }
  },
  mounted() {
    this.listHeight = window.innerHeight - ( 350 + 100 ) * __remScale
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 3.5rem;
  }
  .header img.banner {
    width: 100%;
    height: 100%;
  }
  .content .nagigations {
    position: relative;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #999;
  }
  .content .nagigations .item {
    flex: 1;
    height: 1rem;
    line-height: 1rem;
    font-size: .26rem;
    text-align: center;
    border-right: 1px solid #fff;
  }
  .content .list {
    height: 9rem;
    overflow-y: scroll;
  }
  .content .row {
    width: 100%;
    height: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fff;
    background-color: #eee;
  }
  .content .row .column {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: .8rem;
    line-height: .8rem;
    font-size: .32rem;
    color: #000;
    text-align: center;
    border-right: 1px solid #fff;
  }
  .content .row .column>img {
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
  }
  .content .nagigations>div:last-child,
  .content .row>div:last-child {
    border-right: 0;
  }
</style>