<template>
  <div class="modal-rule-box">
    <img :src="data.imgUrl" alt="">
    <a @click="handleClick" class="buttonCloseModal" href="javascript:;">×</a>
  </div>
</template>

<script>
export default {
  name: 'modal-full-screen-rule',
  props: ['data'],
  methods: {
    handleClick(val) {
      this.EventBus.$emit("emitCloseModal");
    }
  }
}
</script>

<style scoped>
  .modal-rule-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    overflow: scroll;
  }
  .modal-rule-box>img {
    width: 100%;
  }
  .modal-rule-box .buttonCloseModal {
    position: fixed;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    font-size: .8rem;
    font-weight: 100!important;
    text-align: center;
    color: #fff;
  }
  
</style>