<template>
  <div class="modal">
    <jdh-modal-full-screen :type="type" :data="data"></jdh-modal-full-screen>
    <jdh-modal-packet :type="type" :data="data"></jdh-modal-packet>
  </div>
</template>

<script>
import jdhModalFullScreen from './fullScreen'
import jdhModalPacket from './packet'

export default {
  name: 'modal',
  props: ['type', 'data'],
  components: {
    jdhModalFullScreen,
    jdhModalPacket
  }
}
</script>

<style scoped>
.modal {
  position: fixed;
  z-index: 10;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
</style>