import VConsole from "vconsole";
<template>
    <div>
        <div class="wrap">
            <h4 style="letter-spacing:2px;color: #008993;font-size: 20px;font-weight: bold;margin-top: .8rem;">京东健康，专业守护您的健康</h4>
            <img style="width: 100%;" src="../../assets/images/download/位图@2x.png">
            <h4 style="font-size: 14px;color: #262626;">事关健康，十分认真；一份守护，十分健康</h4>
            <h4 style="letter-spacing:2px;color: #008993;font-size: 20px;font-weight: bold;margin-top: 10px;">一切为了您的健康</h4>
            <div @click="download" class="button" :data-clipboard-text="code">
                <div>{{isIos?'IOS 版本下载':'Android 版本下载'}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    import ClipboardJS from 'clipboard'
    import { getDeviceInfo } from '@/utils/device.js'
    import { getUrlParams, openApp, judgePhoneType, isWeiXin } from '@/utils/tools.js'
    import { requestPostActivityInfo } from '@/api/share-page/index.js'

    export default {
        name: "coupon",
        data(){
            return{
                isIos:false,
                code: '111',
            }
        },
        mounted() {
            this.getIsIos()
        },
        created() {
            new ClipboardJS('.btn');
            getDeviceInfo().then(result => {
                result.timestamp = new Date().getTime();
                result.inviteCode = getUrlParams().inviteCode;
                this.data = result;
                requestPostActivityInfo(result)
                    .then(res => {
                        this.code = res;
                    }, error => {
                        console.log(error)
                        console.log('失败')
                    })
            });

        },
        methods:{
            getIsIos(){
                if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/iPad/i)))
                {
                    this.isIos=true
                } else if (navigator.userAgent.match(/android/i)) {
                    this.isIos=false
                }
            },
            download(){
                if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/iPad/i)))
                {
                    this.isIos=true
                    window.location.href = 'https://itunes.apple.com/us/app/yi-wang-quan-cheng/id875785098?l=zh&ls=1&mt=8'
                } else if (navigator.userAgent.match(/android/i)) {
                    this.isIos=false
                    window.location.href = 'http://m.yiwang.com/android/yiwang.apk'
                }
           }
        }
    }
</script>

<style scoped>
    .wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 750px;
        justify-content: center;
    }
    .button{
        width: 80%;
        height: 40px;
        margin-top: .5rem;
        background: linear-gradient(90deg, rgba(0,171,166,1) 0%,rgba(0,193,137,1) 100%);
        border-radius: 54px;
        color:#fff;
        font-size: 18px;
        text-align: center;
        padding-top: 12px;
    }
</style>
