<template>
  <div id="app" class="center">
    <div class="app" v-if="status">
      <!-- header -->
      <jdh-header></jdh-header>
      <!-- content-packet -->
      <jdh-content
        :isBoostComplete="isBoostComplete"
        :userInfo="userInfo"
        :activityInfo="activityInfo"
        :content="content"></jdh-content>
      <!-- product-info -->
      <jdh-product-info v-if="!isEmptyObject(productInfo)" :data="productInfo"></jdh-product-info>
      <!-- modal -->
      <jdh-modal v-show="isShow" :type="modalType" :data="modalData"></jdh-modal>
      <gl-pre-load-img :data="preLoadImgs"></gl-pre-load-img>
    </div>
  </div>
</template>

<script>

import {
  requestGetActivityInfo,
  requestGetProductInfo,
  requestToCreateUserActivityInfo,
  requestGetUserActivityInfo,
  requestToLuckDraw,
  requestToHelpBoost,
  requestGetBoostRecordList,
  requestGetPartakeRecordList,
  requestGetAccumulatedPacketRecord
} from '@/api/every-day-get-packet/index.js'

import {
  prohibitBodyScroll,
  recoverBodyScroll,
  isEmptyObject,
  getCurrentUrlSearch,
  postMinigramMessage,
  appShareH5,
  setUrl,
  jsonSerialize
} from '@/utils/index.js'

import jdhHeader from '@/components/every-day-get-packet/Header'
import jdhContent from '@/components/every-day-get-packet/Content'
import jdhProductInfo from '@/components/every-day-get-packet/ProductInfo'
import jdhModal from '@/components/every-day-get-packet/Modal'

export default {
  name: 'every-day-get-packet',
  data() {
    return {
      status: false,
      isShow: false,
      env: 'h5', // 当前环境
      requestInfo: {
        systemId: '2',
        activityId: '',
        activityType: '',
        userActivityId: ''
      },
      // 用户信息
      userInfo: {
        name: '',
        type: 'initiator',
        loginStatus: false
      },
      // 活动信息
      activityInfo: {
        name: '', // 活动名称
        ruleImgUrl: '',   // 活动规则图片
        boostNumbers: -1, // 助力人数
        status: false,    // 活动状态
        remainTime: 0,    // 活动剩余时间
        rule: [0, 2, 4, 8]
      },           
      content: {
        receivedInfos: {
          price: 0,
          todayPrice: 0,
          totalPrice: 0
        },
        packetList: [
          { title: '', open: false, price: 0, count: 0, animation: false, imgUrl: require("images/packet-openable.png") },
          { title: '', open: false, price: 0, count: 0, animation: false, imgUrl: require("images/packet-openable.png") },
          { title: '', open: false, price: 0, count: 0, animation: false, imgUrl: require("images/packet-openable.png") },
          { title: '', open: false, price: 0, count: 0, animation: false, imgUrl: require("images/packet-openable.png") }
        ],
        recordList: []
      },            // 主题内容
      productInfo: {
        list: [],
        adverts: [],
        jumpLink: ''
      },        // 商品信息
      modalType: '',          // 弹窗类型
      modalData: {},          // 弹窗数据
      isBoostComplete: false, // 是否助力完成
      appLink: '',            // app连接
      hallLink: '',           // 会场链接
      shareData: {
        title: '天天领红包',
        imgUrl: '',
        content: '',
        platformType: ['1'],
        link: window.location.href
      },
      preLoadImgs: [
        require('images/modal-packet-bg1.png'),
        require('images/modal-packet-bg2.png'),
        require('images/modal-packet-bg3.png'),
        require('images/modal-packet-bg4.png'),
        require('images/modal-packet-bg5.png'),
        require('images/packet-record-banner.png'),
        require('images/partake-record-icon-empty.png')
      ]                                                 // 预加载图片
    }
  },
  created() {
    this.handleInitPage(); // 初始化
  },
  mounted() {

    /**
     * 点击“规则”或“参与记录”按钮
     * 功能：
     * type == rule          活动规则-直接显示弹窗
     * type == partakeRecord 参与记录-调用API再显示弹窗
     */
    this.EventBus.$on('emitGetRuleOrRecord', (type) => {

      if (type === 'rule') {
        let imgUrl = this.activityInfo.ruleImgUrl;
        this.showModal(type, {imgUrl});
      } else if (type === 'partakeRecord') {
        this.handleGetPartakeRecordList();
      } else {
        console.error(`The banner button type value: ${type}`);
      }

    });

    // 累计红包
    this.EventBus.$on('emitGetAccumulatedPacketRecord', (params) => {
      this.handleGetAccumulatedPacketRecord(params);
    });

    // 点击开启红包
    this.EventBus.$on('openPacket', (index) => {
      this.handleToLuckDraw(index);
    });

    /**
     * 点击帮TA助力 || 邀请助力按钮
     * 功能:
     * 1. 按钮状态分为发起者和助力者2种情况
     *    发起者:
     *        助力次数未完成 : 邀请好友助力功能
     *        助力次数已完成 : 跳转主会场
     *    助力者:
     *         未助力&&助力未完成 : 帮助好友助力
     *         未助力&&红包已开完 : 进入发起者页面
     *         已助力 : 进入发起者页面
     */
    this.EventBus.$on('inviteHelping', e => {
      let count = this.activityInfo.boostNumbers;
      let rule  = this.activityInfo.rule;
      let max   = this.activityInfo.rule[3];
      let userType = this.userInfo.type;

      if (userType === 'booster') {
        if (this.isBoostComplete || count >= max) {
          this.goInitiatorPage();
        } else {
          this.handleToHelpBoost();
        }
      } else {
        if (count >= max) {
          this.jumpToHall(); // 去会场
        } else {
          this.customizedShareMessage(e); // 分享助力
        }
      }
    });

    // 查看助力记录
    this.EventBus.$on('lookRecords', () => {
      this.handleGetBoostRecordList();
    });

    /**
     * 弹窗确定按钮
     * boosted 发起者打开红包弹窗中的按钮-邀请好友继续开红包
     * helpingSuccess 助力者助力成功弹窗-领取更多
     * IWantRedPacket 助力者助力机会已用完-我也要红包
     */
    this.EventBus.$on('modalButtonEnsureClick', (val, e) => {

      if (val == 'boosted') {
        this.customizedShareMessage(e); // 分享助力
      } else if (val == 'goHall') {
        this.jumpToHall(); // 去会场
      } else if (val == 'IWantRedPacket' || val == 'helpingSuccess') {
        this.goInitiatorPage();
      }

      this.closeModal();
      
    });

    // 关闭弹窗
    this.EventBus.$on('emitCloseModal', () => {
      this.closeModal();
    });

  },
  destroyed() {
    this.EventBus.$off();
  },
  methods: {

    /**
     * 初始化页面
     * 功能：
     * 1. 获取url中的参数，判断是发起者还是助力者以及当前运行环境等
     * 2. 调用获取活动信息API接口
     */
    handleInitPage() {
      let { systemId }                        = this.requestInfo;
      let { userActivityId, activityId, env } = getCurrentUrlSearch(); // 获取url参数

      this.env                                = env;                   // 页面运行环境

      if (userActivityId && activityId) {
        this.userInfo.type                    = 'booster';             // 助力者用户类型
        this.requestInfo.activityId           = activityId;            // 活动id
        this.requestInfo.userActivityId       = userActivityId;        // 用户活动id
      } else {
        this.userInfo.type                    = 'initiator';           // 发起者用户类型
      }

      this.handleGetActivityInfo({ systemId });                        // 获取活动信息

      setTimeout(() => { this.status = true; }, 500); // 无论请求成功与否, 500ms之后渲染页面
    },

    /**
     * 获取活动信息
     * 入参：[ systemId ]
     * 功能：
     * 1. 基本字段赋值
     * 2. 设置页面标题 设置预加载活动规则图片
     * 3. 根据获取到的activityId调用获取商品广告信息API
     * 4. 根据用户类型进行判断，调用不同的API接口
     */
    handleGetActivityInfo(data) {
      requestGetActivityInfo(data)
        .then(res => {
          let userType                                               = this.userInfo.type;
          let { systemId, activityId, activityType, userActivityId } = this.requestInfo;
          let extData                                                = res.extData || {};
          
          this.activityInfo.name        = res.activityName;                              // 活动名称
          this.activityInfo.rule        = res.activityRule;                              // 活动助力阶段
          this.activityInfo.ruleImgUrl  = extData.ruleUrl;                               // 活动规则

          this.requestInfo.activityId   = activityId   = res.activityId;                 // 活动id
          this.requestInfo.activityType = activityType = res.activityType;               // 活动类型

          this.shareData.title          = this.activityInfo.name;                        // 设置分享标题为活动名称
          this.shareData.imgUrl         = extData.shareImage;                            // 分享图片
          this.shareData.content        = extData.text;                                  // 分享内容描述

          this.appLink                  = extData.babelActivePage;                       // APP链接
          this.hallLink                 = extData.h5prodevMJdCom;                        // 会场链接

          this.handleGetProductInfo({ systemId, activityId });                           // 获取商品信息
          this.preLoadImgs.push(this.activityInfo.ruleImgUrl);                           // 预加载活动规则图片
          document.title = this.activityInfo.name;                                       // 设置页面标题为活动名称

          if (userType === 'initiator') {
            this.handleToCreateUserActivityInfo({ systemId, activityId, activityType }); // 创建用户活动信息
          } else if (userType === 'booster') {
            this.handleGetUserActivityInfo({ systemId, activityId, userActivityId });    // 获取用户活动信息
          } else {
            console.error(`userType: ${userType}`);
          }

        })
    },

    /**
     * 获取首页推荐商品信息
     * 功能：
     *   1. 获取商品信息列表、查看更多链接以及广告相关信息
     */
    handleGetProductInfo(data) {
      requestGetProductInfo(data)
        .then(res => {
          let { adverts, extData, products } = res;

          this.productInfo.list     = products || [];                         // 商品列表信息
          this.productInfo.adverts  = adverts || [];                          // 广告信息
          this.productInfo.jumpLink = extData && extData.productsJumpUrl;     // 查看更多跳转连接
        })
    },

    /**
     * 创建用户活动信息
     * 功能：
     * 1. 判断用户是否登录，如果未登录，则先登录
     * 2. 获取 userActivityId 用户pin等信息
     * 3. 根据 userActivityId 再调用获取用户活动信息API接口
     */
    handleToCreateUserActivityInfo(data) {
      requestToCreateUserActivityInfo(data)
        .then(res => {

          let { systemId, activityId }    = data;
          let { userActivityId, pin }     = res;

          this.userInfo.loginStatus       = true;                                   // 设置登录状态为true
          this.userInfo.name              = pin;                                    // 设置用户名称
          this.requestInfo.userActivityId = userActivityId;                         // 存储用户活动id

          this.handleGetUserActivityInfo({ systemId, activityId, userActivityId }); // 获取用户活动信息

        });
    },
    
    /**
     * 获取用户活动信息
     * 功能：
     * 1. 更新红包已领取信息，红包列表信息，活动信息，助力列表等信息
     */
    handleGetUserActivityInfo(data) {
      requestGetUserActivityInfo(data)
        .then(res => {
          let { systemId, activityId, userActivityId } = this.requestInfo;
          let joyData                                  = res.joyData || []; // 红包列表信息
          let isFirstOpen                              = joyData[0].open;   // 第1个红包是否已打开

          this.activityInfo.boostNumbers               = res.boostNumbers;  // 当前助力人数
          this.activityInfo.remainTime                 = res.countdown;     // 活动剩余时间戳


          if (this.userInfo.type === 'initiator') {
            !isFirstOpen && this.handleToLuckDraw(1);                       // 发起者 && 如果第1个红包未开启则主动触发抽奖
          }

          this.setReceiveInfo(res);                                         // 设置红包已领取信息
          this.setPacketListInfo(joyData);                                  // 设置红包列表信息
          this.setRecordList(res);                                          // 设置助力列表信息
          this.sendMingramMessage();                                        // 微信小程序环境下发送信息
          
          this.status = true;                                               // 渲染页面
        })
    },
    /**
     */

    /**
     * 抽奖【开红包】
     * 功能：
     * 1. 抽奖开红包之后自动更新用户活动信息
     * 2. 第2，3个红包，显示被助力得红包弹窗
     * 3. 第4个红包，显示双倍红包弹窗
     * 4. 红包index是从1开始计算
     */
    handleToLuckDraw(index) {
      let { systemId, activityId, userActivityId } = this.requestInfo;

      requestToLuckDraw({ systemId, activityId, userActivityId, index })
      .then(res => {

        this.handleGetUserActivityInfo({ systemId, activityId, userActivityId }); // 更新用户活动信息

        if (index == 1) {
          // 暂时不做处理
        } else if (index == 2 || index == 3) {
          this.showModal('boosted', res);
        } else if (index == 4) {
          this.showModal('double', res);
        } else {
          console.error(`The current index value: ${index}`);
        }

      })
    },

    /**
     * 帮助好友助力
     * 功能：
     * 1. code为0表示助力成功
     * 2. code为2002表示今日助力机会已用完
     * 3. 其他情况toast提示
     * 4. 无论助力成功或失败，则助力已完成，再次点击进入发起者页面，
     *    所以，此时需更新isBoostComplete值为true，同时更新按钮文案为“我也要红包”
     * 备注：isBoostComplete值是用来判断，点击按钮是否触发去发起者页面
     */
    handleToHelpBoost() {
      let { systemId, activityId, userActivityId } = this.requestInfo;

      requestToHelpBoost({ systemId, activityId, userActivityId })
        .then(res => {
          if (res.code == 0) {
            this.showModal('boostSuccess', res.result || {});
          } else {
            if (res.code == 2002) {
              this.showModal('exhaust', res.result || {});
            }
          }
          this.isBoostComplete = true; // 更改助力状态“已完成”
        });
    },

    // 获取“我的”参与记录
    handleGetPartakeRecordList() {
      let { systemId } = this.requestInfo;
      requestGetPartakeRecordList({ systemId })
        .then(res => {
          this.showModal('partakeRecord', res);
        });
    },

    /**
     * 获取累计红包记录
     * 1. 红包类型为2，3，4 三种状态，分别对应未使用、已使用和已失效
     * 2. 请求数据成功之后更改currentIndex值，切换tab
     */
    handleGetAccumulatedPacketRecord({index = 0, status = 2} = {}) {
      let { systemId }      = this.requestInfo;  // 获取systemId
      let hbState           = status;            // 红包类型赋值变量hbState

      requestGetAccumulatedPacketRecord({ systemId, hbState })
        .then(res => {
          res.currentIndex = index;              // API请求完成之后再切换tab标签
          this.showModal('packetRecord', res);
        });
    },

    // 查看助力记录
    handleGetBoostRecordList() {
      let { systemId, activityId, userActivityId } = this.requestInfo;

      requestGetBoostRecordList({ systemId, activityId, userActivityId })
      .then(res => {
        this.showModal('boostRecord', res);
      });
    },

    // 设置已领信息
    setReceiveInfo(data) {
      this.content.receivedInfos.price      = data.hasReceivedMoneyDay; // 助力者：好友今日已领
      this.content.receivedInfos.todayPrice = data.hasReceivedMoneyDay; // 发起者：今日已领
      this.content.receivedInfos.totalPrice = data.hasReceivedMoneyAll; // 发起者：累计红包
    },

    /**
     * 设置红包列表信息
     * 功能：
     * 1. 更新红包开启状态，金额信息，所需助力人数，红包背景
     * 2. 重置所有红包的动画为false
     */
    setPacketListInfo(data) {
      this.content.packetList.forEach((item, index, arr) => {
        if (index                      == 0) {
          arr[index].title             = `签到红包`;                                // 第一个红包标题
        } else {
          arr[index].title             = `${data[index].requiredQuantity}人可开`;  // 红包标题
        }
        arr[index].open                = data[index].open;                      // 红包是否打开
        arr[index].price               = data[index].readBagPrice;              // 红包金额
        arr[index].count               = data[index].requiredQuantity;          // 打开红包所需助力人数
        arr[index].animation           = false;                                 // 是否显示动画
      });
    },

    // 设置助力列表信息 主要更新助力者头像信息
    setRecordList(data) {
      let boosts = data.boosts || [];
      let result = [];
      boosts.forEach(item => {
        result.push({
          imgUrl: item.wxImage
        })
      });
      this.content.recordList = result;
    },

    /**
     * 自定义分享
     * 功能：
     */
    customizedShareMessage(e) {
      let { activityId, userActivityId } = this.requestInfo;
      let shareUrl = setUrl({ activityId, userActivityId });

      this.shareData.link = shareUrl;

      if (this.env === 'minigram') {
        toast.show({
          text: `点击右上角“...”分享好友，助力得红包`,
          duration: 3000
        })
      } else if (this.env === 'app') {
        e.preventDefault();
        appShareH5(this.shareData);
      } else {
        window.location.href = this.appLink;
      }
    },

    // 去会场
    jumpToHall() {
      window.location.href = this.hallLink;
    },

    /**
     * 微信小程序内嵌H5时 向小程序发送信息
     * 1. 发送activityId 和 userActivityId，小程序内自定义分享用
     */
    sendMingramMessage() {
      let { activityId, userActivityId } = this.requestInfo;
      postMinigramMessage({ activityId, userActivityId });
    },

    /**
     * 展示弹窗
     * 功能：
     * 1. 根据传入的参数type判断显示对应的弹窗类型
     * 2. 根据data参数，更新对应的弹窗中显示的值
     */
    showModal(type, data = {}) {
      this.modalType = type;
      this.modalData = data;
      this.isShow = true;
      prohibitBodyScroll();
    },

    /**
     * 关闭弹窗
     * 功能：
     * 1. 先隐藏弹窗，弹窗消失有0.6s的过度时间
     * 2. 间隔400ms之后(提前隐藏，因为弹窗有渐变效果)，隐藏遮罩层同时恢复页面滚动
     */
    closeModal() {
      this.modalType = '';
      setTimeout(() => {
        this.isShow = false;
        recoverBodyScroll();
      }, 400);
    },

    /**
     * 去发起者页面
     * 1. 只需去除 activityId和userActivityId两个参数
     */
    goInitiatorPage() {
      let data   = getCurrentUrlSearch();
      let search = '';

      delete data.activityId;
      delete data.userActivityId;

      search = jsonSerialize(data).length > 0 ? `?${jsonSerialize(data)}` : '';

      let redirectUrl      = window.location.origin + window.location.pathname + search;
      window.location.href = redirectUrl;
    },

    // 判断对象是否为空
    isEmptyObject(obj) {
      return isEmptyObject(obj)
    },
  },
  components: {
    jdhHeader,
    jdhContent,
    jdhProductInfo,
    jdhModal
  }
}
</script>

<style>
  html, body {
    background-color: #EC3114!important;
  }
  #app {
    width: 7.5rem;
  }
  .app {
    width: 7.5rem;
    padding-bottom: .3rem;
    overflow: hidden;
  }
</style>