<template>
  <transition name="fadeIn">
    <jdh-modal-boosted v-if="type == 'boosted'" :data="data"></jdh-modal-boosted>
    <jdh-modal-double v-if="type == 'double'" :data="data"></jdh-modal-double>
    <jdh-modal-boost-success v-if="type == 'boostSuccess'" :data="data"></jdh-modal-boost-success>
    <jdh-modal-boost-record v-if="type == 'boostRecord'" :data="data"></jdh-modal-boost-record>
    <jdh-modal-exhaust v-if="type == 'exhaust'" :data="data"></jdh-modal-exhaust>
  </transition>
</template>

<script>
import jdhModalBoosted from './boosted'
import jdhModalDouble from './double'
import jdhModalBoostSuccess from './boostSuccess'
import jdhModalBoostRecord from './boostRecord'
import jdhModalExhaust from './exhaust'

export default {
  name: 'modal-packet-box',
  props: ['type', 'data'],
  components: {
    jdhModalBoosted,
    jdhModalDouble,
    jdhModalBoostSuccess,
    jdhModalBoostRecord,
    jdhModalExhaust
  }
}
</script>

<style scoped>
  .fadeIn-enter-active {
    animation: modalShow 0.6s ease both;
  }
  .fadeIn-leave-active {
    animation: modalHide 0.6s ease both;
  }
  @keyframes modalShow {
    0%{
      transform: scale(0);
      opacity: 0;
    }
    100%{
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes modalHide {
    0%{
      transform:  translateY(0%);
      opacity: 1;
    }
    100%{
      transform: translateY(-150%);
      opacity: 0;
    }
  }
</style>