<template>
  <div class="content">
    <!-- 滚动字幕 -->
    <gl-scroll-single></gl-scroll-single>
    <!-- list-card -->
    <jdh-list-card></jdh-list-card>
    <div class="button-group center">
      <a class="button-luck-card" href="javascript:;" @click="showModal('luck')">抽卡 × 2</a>
      <a class="button-compose" href="javascript:;" @click="showModal('compose')">合成卡片</a>
    </div>
    <h3 class="title-task">做任务，增加抽奖次数</h3>
    <!-- list-task -->
    <jdh-list-task></jdh-list-task>
  </div>
</template>

<script>
import jdhListCard from './listCard'
import jdhListTask from './listTask'

export default {
  name: 'page-content',
  methods: {
    showModal(val) {
      this.EventBus.$emit('showModal', val);
    }
  },
  components: {
    jdhListCard,
    jdhListTask
  }
}
</script>

<style scoped>
.button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 6.9rem;
  height: 1rem;
}
.button-group>a {
  display: block;
  height: 1rem;
  line-height: 1rem;
  font-size: .32rem;
  color: #fff;
  text-align: center;
  background-color: #090909;
  border-radius: 1rem;
}
.button-group>a.button-luck-card {
  width: 4.8rem;
  margin-right: .3rem;
}
.button-group>a.button-compose {
  width: 1rem;
  font-size: .24rem;
}
.title-task {
  width: 100%;
  padding-top: .3rem;
  line-height: .36rem;
  font-weight: bold;
  font-size: .36rem;
  text-align: center;
}
</style>