<template>
  <div class="page">
    <div class="content">
      <div class="card-list">
        <div class="item" v-for="(item, index) in list" :key="index">
          <div class="card" @click.once="add(index)">
            <div class="start">
              <span v-for="(item, index) in item.start" :key="index">☆</span>
            </div>
            <p>{{item.name}}</p>
            <a href="javascript:;">拥有{{item.num}}张</a>
          </div>
          <a href="javascript:;" @click="sale(index)">出售</a>
        </div>
      </div>
    </div>
    <div class="mask" v-show="isShow">
      <div class="modal-content">
        <a class="close-button" href="javascript:;" @click="handleClose">×</a>
        <img class="card" src="~images/base/dot.png" alt="">
        <h3></h3>
        <div class="desc">
          <p>卡片名称：999感冒灵折扣卡</p>
          <p>卡片等级：3星</p>
          <p>使用范围：仅限于购买999感冒灵药品</p>
          <p>有效期限：2019-01-01 00:00:00-2019-12-31 23:59:59</p>
          <p>手续费用：2%
          <p>售卖价格：<input type="tel" value="0"> 金币</p>
        </div>
        <a class="ensure" href="javascript:;" @click="handleClose">确定</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'notice-list',
  data() {
    return {
      isShow: false,
      list: [
          { start: 1, name: '999感冒灵折扣卡', num: 10 },
          { start: 2, name: '999感冒灵折扣卡', num: 3 },
          { start: 3, name: '999感冒灵折扣卡', num: 5 },
          { start: 4, name: '999感冒灵折扣卡', num: 3 },
          { start: 5, name: '999感冒灵折扣卡', num: 2 },
          { start: 6, name: '999感冒灵折扣卡', num: 1 }
      ]
    }
  },
  methods: {
    sale(index) {
      this.isShow = true;
    },
    handleClose(index) {
      this.isShow = false;
    }
  }
}
</script>

<style scoped>
  .header {
    width: 50%;
    padding-top: .3rem;
    padding-bottom: .3rem;
    font-size: .26rem;
  }
  .header .brief,
  .header .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 7.5rem;
    padding-bottom: .3rem;
  }
  .header .brief {
    border-bottom: 1px solid #999;
  }
  .header .brief>img {
    width: .8rem;
    height: .8rem;
    margin: 0 .3rem;
    border-radius: 50%;
  }
  .header .info {
    margin-top: .3rem;
    padding-left: .3rem;
    padding-right: .3rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .header .info>p {
    width: 40%;
    text-align: left;
  }
  .header .info.item {
    margin-top: 0;
    padding-top: .3rem;
  }
  .header .info.item>p {
    position: relative;
    width: 100%;
  }
  .header .info.item>p::after {
    position: absolute;
    top: .05rem;
    right: 0;
    width: .2rem;
    height: .2rem;
    content: '';
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    transform: rotate(45deg);
  }
  .content {
    position: relative;
    width: 6.9rem;
    margin: .3rem auto;
  }
  .content>h3 {
    font-size: .32rem;
    text-align: center;
  }
  .content .card-list {
    position: relative;
    width: 6.9rem;
    margin: .3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .content .card-list .item {
    width: 2.1rem;
    height: 3.2rem;
    margin-right: .3rem;
    margin-bottom: .3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    box-sizing: border-box;
  }
  .content .card-list .card {
    position: relative;
    width: 2.1rem;
    height: 2.5rem;
    border: 1px solid #999;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    box-sizing: border-box;
  }
  .content .card-list .card>p {
    width: 100%;
    line-height: 1.5rem;
    font-size: .24rem;
    text-align: center;
  }
  .content .card-list>div:nth-child(3n) {
    margin-right: 0;
  }
  .content .card-list .card>a {
    width: 100%;
    height: .24rem;
    padding: .1rem;
    line-height: .24rem;
    font-size: .2rem;
    text-align: right;
    color: red;
  }
  .content .card-list .card .start {
    position: absolute;
    top: 0;
    left: .1rem;
    width: 100%;
    height: .4rem;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-size: .24rem;
    overflow: hidden;
  }
  .content .card-list .item .start>span {
    font-size: .24rem;
  }
  .content .card-list .item>a {
    display: inline-block;
    padding: .1rem .3rem;
    line-height: .26rem;
    font-size: .26rem;
    border: 1px solid #999;
    border-radius: 3px;
  }
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }
  .mask .modal-content {
    position: relative;
    width: 7rem;
    height: 8rem;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
  }
  .mask .modal-content .close-button {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: .6rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .6rem;
    color: #000;
    text-align: center;
  }
  .mask .modal-content .ensure {
    display: block;
    width: 3rem;
    height: .6rem;
    margin: 0 auto;
    margin-top: .3rem;
    line-height: .6rem;
    font-size: .26rem;
    color: #fff;
    text-align: center;
    background-color: #333;
    border-radius: 3px;
  }
  .mask .modal-content .card {
    display: block;
    width: 6.3rem;
    height: 2rem;
    margin: .6rem auto .1rem;
    border-radius: 5px;
  }
  .mask .modal-content .desc {
    width: 6.3rem;
    margin: 0 auto;
    font-size: .24rem;
  }
  .mask .modal-content .desc>p {
    line-height: .68rem;
  }
  .mask .modal-content .desc>p>input {
    padding: .1rem;
    border: 1px solid #999;
    border-radius: 3px;
  }
</style>