<template>
  <a
    class="button-close"
    href="javascript:;"
    @click="handleClick">
    <slot></slot>
  </a>
</template>

<script>
  export default {
    name: "button-close",
    props: {
      type: {
        type: String,
        default: "close"
      }
    },
    methods: {
      handleClick() {
        this.EventBus.$emit("emitCloseModal", this.type);
      }
    }
  }
</script>

<style scoped>
  .button-close {
    position: absolute;
    top: .8rem;
    right: 1.2rem;
    width: .5rem;
    height: .5rem;
    font-size: 0;
    background: url(../../../../assets/images/every-day-get-packet/modal-close-button-bg.png) center / .46rem .46rem no-repeat;
    border-radius: 50%;
  }
</style>