<template>
  <a
    class="button-ensure"
    href="javascript:;"
    @click="handleClick($event)">
    <slot></slot>
  </a>
</template>

<script>
  export default {
    name: "button-ensure",
    props: {
      type: {
        type: String,
        default: "ensure"
      }
    },
    methods: {
      handleClick(e) {
        this.EventBus.$emit("modalButtonEnsureClick", this.type, e);
      }
    }
  }
</script>

<style scoped>
  .button-ensure {
    position: absolute;
    display: block;
    width: 3.6rem;
    height: .9rem;
    line-height: .8rem;
    font-size: .3rem;
    font-weight: bold;
    color: #740700;
    text-align: center;
    background-image: url(../../../../assets/images/every-day-get-packet/button-known-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
</style>