<template>
	<h3 class="top-title">
		<slot></slot>
	</h3>
</template>

<script>
	export default {
		name: "top-title"
	}
</script>

<style scoped>
	.top-title {
		position: absolute;
    width: 4.45rem;
    font-family: PingFang-SC-Semibold;
    font-weight: bold;
    font-size: .32rem;
    text-align: center;
    color: rgba(236,4,32,1);
    background-image:-webkit-linear-gradient(bottom,#F90513,#F95E12,#FD9704); 
    background-clip:text; 
    -webkit-text-fill-color:transparent;
	}
</style>