<template>
  <div class="page">
    <!-- header -->
    <div class="header">
      <img class="banner" src="~images/base/dot.png" alt="">
    </div>
    <!-- subtitles -->
    <div class="subtitles">
      <div class="item">永恒的***在3分钟前合成了全场8折购物优惠卡</div>
    </div>
    <!-- navigation -->
    <div class="navigation" v-if="navigations.length > 0">
      <router-link v-for="(item, index) in navigations" :key="index"
        :class="['item', item.path === '' ? 'disabled' : '']"
        :to="item.path">
        <img src="~images/base/dot.png" alt="">
        <span>{{item.name}}</span>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'index',
  data() {
    return {
      navigations: []
    }
  },
  created() {
    this.setNavigations(); // 设置导航
  },
  methods: {
    /**
     * 设置导航
     * 1. 读取所有路由数组
     * 2. 遍历路由数组，去除首页路由
     * 3. 生成新的数组，数组项为一个对象，包含id，name，和path
     */
    setNavigations() {
      let result = [];
      this.$router.options.routes.forEach((item, index) => {
        if (item.meta.type !== 'children') {
          result.push({ id: index, name: item.meta.name, path: item.path });
        }
      });
      this.navigations = result.slice(1);
    }
  }
}
</script>

<style scoped>
  .header {
    width: 100%;
    height: 3.5rem;
  }
  .header img.banner {
    width: 100%;
    height: 100%;
  }
  .subtitles {
    margin-top: .1rem;
    margin-bottom: .1rem;
  }
  .subtitles .item {
    padding-top: .3rem;
    padding-bottom: .3rem;
    line-height: .26rem;
    font-size: .26rem;
    text-align: center;
  }
  .navigation {
    width: 100%;
    padding: .3rem .15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .navigation .item {
    width: 1rem;
    height: 1.5rem;
    margin: .2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
  .navigation .item.disabled {
    opacity: .1;
  }
  .navigation .item>img {
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
  }
  .navigation .item>span {
    line-height: .26rem;
    font-size: .26rem;
  }
</style>