<template>
  <div class="banner">
    <a class="rule" href="javascript:;" @click="showModal('activityRule')">活动规则</a>
    <a class="own-card" href="javascript:;" @click="showModal('ownRecord')">我的记录</a>
    <p class="note">已累计签到<span> 15 </span>天</p>
  </div>
</template>

<script>

export default {
  name: 'page-header',
  methods: {
    showModal(val) {console.log(val)
      this.EventBus.$emit('showModal', val);
    }
  }
}
</script>

<style scoped>
  .banner {
    position: relative;
    width: 100%;
    height: 4rem;
    background: url(~images/banner.png) center no-repeat / 100% 100%;
  }
  .banner>a {
    position: absolute;
    z-index: 1;
    right: 0;
    display: inline-block;
    padding: .15rem .3rem;
    font-size: .2rem;
    line-height: .2rem;
    color: #fff;
    background-color: #666;
    border-top-left-radius: .55rem;
    border-bottom-left-radius: .55rem;
  }
  .banner>a.rule {
    top: 1.2rem;
  }
  .banner>a.own-card {
    top: 2.2rem;
  }
  .banner .note {
    position: absolute;
    top: 2rem;
    width: 100%;
    font-size: .24rem;
    text-align: center;
    color: #fff;
  }
  .banner .note>span {
    font-size: .28rem;
  }
</style>