<template>
  <div class="header">
    <div class="paper">
      <div class="amount">
        <div class="item" v-for="(key, index) in packetInfoTypes" :key="index">
          <h3>{{data[key].name}}</h3>
          <div class="price">
            <gl-price :layout="layout">{{data[key].value | number2Decimal}}</gl-price>
          </div>
        </div>
      </div>
      <p class="note">{{data.note}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'packet-record-header',
  props: ['data', 'layout'],
  data() {
    return {
      packetInfoTypes: ['accumulatedReceived', 'currentAvailable']
    }
  }
}
</script>

<style scoped>
  .header {
    width: 100%;
    height: 5.7rem;
    border: 1px solid transparent;
    box-sizing: border-box;
    background-image: url(~images/packet-record-banner.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 5.04rem;
  }
  .header .paper {
    width: 100%;
    height: 3.37rem;
    margin-top: 2rem;
    border: 1px solid transparent;
    box-sizing: border-box;
    background: url(~images/packet-record-paper.png) no-repeat center / 100% 3.37rem;
  }
  .header .paper .amount {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1.6rem;
    margin-top: .95rem;
  }
  .header .paper .amount .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 2rem;
    text-align: center;
  }
  .header .paper .amount .item>h3 {
    width: 100%;
    margin-bottom: .2rem;
    font-size: .26rem;
    color: #740700;
  }
  .header .paper .amount .item .price {
    color: #EC0420;
  }
  .header .paper .note {
    line-height: .8rem;
    font-size: .2rem;
    color: #740700;
    text-align: center;
  }
</style>