<template>
  <div class="modal-packet-record-box">
    <!-- header -->
    <jdhHeader :data="redPacketInfo" :layout="layout"></jdhHeader>
    <!-- list -->
    <div class="list-box">
      <div class="list-nav" v-if="navigationInfo && navigationInfo.length > 0">
        <a href="javascript:;" v-for="(item, index) in navigationInfo" :key="index"
          :class="[currentIndex == index ? 'active' : '']"
          @click="handleChaneNav(index, item.status)">{{item.name}}</a>
      </div>
      <jdh-list :data="list" :currentIndex="currentIndex"></jdh-list>
    </div>
    <a @click="handleClick" class="buttonCloseModal" href="javascript:;">×</a>
  </div>
</template>

<script>
import { formatDate } from '@/utils/index.js'

import jdhHeader from './header.vue'
import jdhList from './list.vue'

export default {
  name: 'modal-packet-record-box',
  props: ['data'],
  data() {
    return {
      currentIndex: 0,                                 // 当前导航id
      layout: {
        isBold: true,
        sign: { fontSize: '.4rem' },
        value: { fontSize: '.6rem' }
      },                       // 价格样式
      redPacketInfo: {
        accumulatedReceived: {
          name: '累计已领',
          value: '0.00'
        },
        currentAvailable: {
          name: '当前可用',
          value: '0.00'
        },
        category: {
          partake: { name: '参与红包' },
          boost: { name: '助力红包' },
          double: { name: '翻倍红包' }
        },
        note: '注：红包限一周内使用，过期自动失效[限本***内使用]'
      },        // 头部红包信息
      navigationInfo: [
        { name: '未使用', status: 2 },
        { name: '已使用', status: 3 },
        { name: '已失效', status: 4 }
      ],     // 导航信息
      list: []                         // 列表
    }
  },
  watch: {
    data: {
      immediate: true,
      deep: true,
      handler(newVal, oldVal) {
        let list                                     = [];                          // 定义空数组
        let category                                 = this.redPacketInfo.category; // 红包类型
        let accumulatedReceived                      = newVal.hasReceivedMoneyAll;  // 累计已领
        let currentAvailable                         = newVal.sameDayPayableAmount; // 当前可用
        let packetRecordList                         = newVal.hongBaoList;          // 红包领取记录列表

        this.currentIndex = newVal.currentIndex || 0;                               // 当前导航下标
        this.redPacketInfo.accumulatedReceived.value = accumulatedReceived;         // 累计已领
        this.redPacketInfo.currentAvailable.value    = currentAvailable;            // 当前可用

        packetRecordList.forEach(item => {
          list.push({
            name: this.setCategoryText(item.hbType, category),
            desc: `有效期 ${formatDate(item.beginTime, '.')} - ${formatDate(item.endTime, '.')}`,
            price: item.discount
          });
        });
        
        this.list = list; // 更新红包列表信息

      }
    }
  },
  methods: {
    handleChaneNav(index, status) {
      this.currentIndex = index;
      this.EventBus.$emit('emitGetAccumulatedPacketRecord', {index, status});
    },
    handleClick() {
      this.EventBus.$emit('emitCloseModal');
    },
    
    /**
     * 红包类型判断
     * 根据红包类型，返回对应的红包类型文案信息
     * type == 1 参与红包
     * type == 2 助力红包
     * type == 3 翻倍红包
     */
    setCategoryText(type, category) {
      let result                     = '';
      let { partake, boost, double } = category;

      if (type == 1) {
        result = partake.name;
      } else if (type == 2) {
        result = boost.name;
      } else if (type == 3) {
        result = double.name;
      } else {
        console.error(`hbType: type is ${type}`);
      }
      return result;
    }
  },
  components: {
    jdhHeader,
    jdhList
  }
}
</script>

<style scoped>
  .modal-packet-record-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    overflow: scroll;
    background-color: #fff;
  }
  .modal-packet-record-box .list-box {
    padding: 0rem .3rem;
    box-sizing: border-box;
  }
  .modal-packet-record-box .list-box .list-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1rem;
  }
  .modal-packet-record-box .list-box .list-nav>a {
    position: relative;
    height: .7rem;
    line-height: .7rem;
    font-size: .34rem;
    color: #ADADAD;
  }
  .modal-packet-record-box .list-box .list-nav>a::before {
    position: absolute;
    left: 50%;
    bottom: 0rem;
    width: .6rem;
    height: .08rem;
    content: "";
    background: linear-gradient(to right,#ff4604, #fff);
    border-radius: .1rem;
    transform: translateX(-50%);
    display: none;
  }
  .modal-packet-record-box .list-box .list-nav>a.active {
    color: #2E2D2D;
  }
  .modal-packet-record-box .list-box .list-nav>a.active::before {
    display: block;
  }
  .modal-packet-record-box .list-box .list-content {
    overflow-y: scroll;
  }
  .modal-packet-record-box .buttonCloseModal {
    position: fixed;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    font-size: .8rem;
    font-weight: 100!important;
    text-align: center;
    color: #fff;
  }
  
</style>