<template>
  <div class="list-content"
    :style="{height: listHeight + 'px'}"
    :key="currentIndex">
    <div
      v-if="data.length > 0"
      :class="['not-empty', listClassNames[currentIndex]]">
      <div class="item" v-for="(item, index) in data" :key="index">
        <div class="left-box">
          <h3>{{item.name}}</h3>
          <p>{{item.desc}}</p>
        </div>
        <div class="right-box">{{currentIndex == 0 ? '+' : '-'}}{{item.price | number2Decimal}}</div>
      </div>
    </div>
    <div class="empty" v-else>
      <img alt="空" src="images/partake-record-icon-empty.png">
      <p>还木有红包，空空如也</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'packet-record-list',
  props: ['data', 'currentIndex'],
  data() {
    return {
      listHeight: 600,                                 // 列表高度
      listClassNames: [ 'noused', 'used', 'invalid' ], // 列表类名集合
    }
  },
  mounted() {
    let windowHeight = window.innerHeight;
    let headerHeight = (570 + 100) * __remScale;
    this.listHeight = windowHeight - headerHeight;
  }
}
</script>

<style scoped>
  .list-content .not-empty .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 0rem;
    border-bottom: 1px solid #F2F2F2;
  }
  .list-content .not-empty>div.item:last-of-type {
    border: 0;
  }
  .list-content .not-empty .item .left-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-between;
    height: .95rem;
    padding-left: .8rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: .7rem .95rem;
  }
  .list-content .not-empty.noused .item .left-box {
    background-image: url(~images/packet-record-icon-noused.png);
  }
  .list-content .not-empty.used .item .left-box {
    background-image: url(~images/packet-record-icon-used.png);
  }
  .list-content .not-empty.invalid .item .left-box {
    background-image: url(~images/packet-record-icon-invalid.png);
  }
  .list-content .not-empty .item .left-box>h3 {
    width: 100%;
    font-size: .3rem;
    color: #2E2D2D;
  }
  .list-content .not-empty .item .left-box>p {
    font-size: .24rem;
    color: #ADADAD;
  }
  .list-content .not-empty .right-box {
    height: .95rem;
    line-height: .95rem;
    font-size: .34rem;
    color: #2E2D2D;
  }
  .list-content .empty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
  }
  .list-content .empty>img {
    width: 2.8rem;
    height: 2.8rem;
  }
  .list-content .empty>p {
    width: 100%;
    margin-top: .4rem;
    font-size: .3rem;
    color: #2E2D2D;
    text-align: center;
  }
</style>