<template>
  <div class="calendar">
    <div class="title">
      <h3>{{currentMonth}}月签到日历</h3>
      <a class="left" href="javascript:;" @click="handlePre"> ＜ </a>
      <a class="right" href="javascript:;" @click="handleNext"> ＞ </a>
    </div>
    <div class="content">
      <table>
        <thead>
          <tr>
            <td v-for="(item, index) in weeks" :key="index">{{ item.label }}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in days" :key="index">
            <td v-for="(_item, _index) in item" :key="`${index}+${_index}`"
              @click="handleToSignIn(_item)">
              <span :class="setClassName(_item)">{{_item.label}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sign-in',
  data() {
    return {
      weeks: [],
      days: [],
      currentMonth: ''
    }
  },
  created() {
    this.setWeeks();
    this.setDays();
  },
  methods: {
    handleToSignIn(item) {
      if (item.isClick && !item.status) {
        // ...
        item.isClick = false;
        item.status = true;
      }
    },
    handlePre() {

      if (this.currentMonth > 1) {
        this.currentMonth -= 1;
      } else {
        return false;
      }

      this.setDays(this.currentMonth - 1);
    },
    handleNext() {
      if (this.currentMonth < 12) {
        this.currentMonth += 1;
      } else {
        return false;
      }

      this.setDays(this.currentMonth - 1);
    },
    setWeeks() {
      let weekNumbers = '日一二三四五六';
      this.weeks = weekNumbers.split('').map((item, index) => {
        return { id: index, label: `星期${item}` };
      });
    },
    /**
     * type 日期类型 上一月，当前月，下一月
     * status 是否已签到
     * isCurrent 是否当前日期
     * isClick 是否可以点击签到
     */
    setDays(date) {
      let arr = [];
      let result = [];
      let currentDate = new Date();
      let year = currentDate.getFullYear();
      let month = date == undefined ? currentDate.getMonth() : date;
      let day = currentDate.getDate();
      let preMonth = this.getPreMonthCount(year, month);
      let currentMonth = this.getMonthCount(year, month);
      let nextMonth = this.getNextMonthCount(year, month);
      let weekDay = this.getWeekDay(year, month);

      this.currentMonth = month + 1;

      if (weekDay === 0) {
        preMonth = [];
      } else {
        preMonth = preMonth.slice(-1 * weekDay);
      }
      nextMonth = nextMonth.slice(0, 42 - currentMonth.length - weekDay);

      preMonth = preMonth.map(item => {
        return { type: 'pre', status: true, label: item };
      });
      currentMonth = currentMonth.map(item => {
        if (item < day) {
          return { type: 'current', status: false, label: item };
        } else if (item === day) {
          return { type: 'current', status: false, isClick: true, isCurrent: true, label: item };
        } else {
          return { type: 'current', status: false, label: item };
        }
      });
      nextMonth = nextMonth.map(item => {
        return { type: 'next', status: false, label: item };
      });

      [].concat(preMonth, currentMonth, nextMonth).forEach((item, index) => {
        if (index > 0 && index % 7 === 0) {
          result.push(arr);
          arr = [];
        }
        arr.push(item);
      });
      this.days = result;
    },
    setClassName(item) {
      let result = '';
      if (item.type !== 'current') {
        if (item.status) {
          result = 'active disabled';
        } else {
          result = 'disabled';
        }
      } else {
        if (item.status) {
          result = 'active';
        } else if (item.isCurrent) {
          result = 'current';
        } else {
          result = '';
        }
      }
      return result;
    },
    // 判断是否闰年
    isLeapYear(year) {
      return (year % 400 === 0) || (year % 100 !== 0 && year % 4 === 0);
    },
    // 获得某年某月1号是星期几
    getWeekDay(year, month) {
      let date = new Date(year, month, 1);
      return date.getDay();
    },
    // 获得某年某月的日期，如[1,2,3...31]
    getMonthCount(year, month) {
      let arr = [31, null, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
      let count = arr[month] || this.isLeapYear(year) ? 29 : 28;
      return Array.from(new Array(count), (item, index) => index + 1);
    },
    // 获得前一个月的日期
    getPreMonthCount(year, month) {
      if (month === 0) {
        return this.getMonthCount(year - 1, 11);
      } else {
        return this.getMonthCount(year, month - 1);
      }
    },
    // 获得后一个月的日期
    getNextMonthCount(year, month) {
      if (month === 12) {
        return this.getMonthCount(year + 1, 0);
      } else {
        return this.getMonthCount(year, month + 1);
      }
    },
  }
}
</script>

<style scoped>
  .calendar {
    width: 100%;
    font-size: .24rem;
  }
  .calendar .title {
    position: relative;
    width: 100%;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    color: #fff;
    background-color: #999;
  }
  .calendar .title>a {
    position: absolute;
    top: 0;
    display: block;
    width: .5rem;
    height: .5rem;
    font-size: .38rem;
  }
  .calendar .title>a.left {
    left: 2rem;
  }
  .calendar .title>a.right {
    right: 2rem;
  }
  .content {
    width: 100%;
  }
  .content>table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }
  .content>table td {
    padding: .15rem;
    text-align: center;
    vertical-align: center;
    border: 1px solid #999;
  }
  .content>table>thead>tr>td:first-child,
  .content>table>tbody>tr>td:first-child {
    border-left: 0;
  }
  .content>table>thead>tr>td:last-child,
  .content>table>tbody>tr>td:last-child {
    border-right: 0;
  }
  .content>table td>span {
    display: inline-block;
    width: .7rem;
    height: .7rem;
    line-height: .7rem;
    border: 1px solid #999;
    border-radius: 50%;
  }
  .content>table td>span.current {
    color: rgb(241, 13, 13);
    border-color: rgb(241, 13, 13);
  }
  .content>table td>span.active {
    color: #fff;
    background-color: #333;
  }
  .content>table td>span.disabled {
    opacity: .3;
  }

</style>