<template>
  <div class="header">
    <img class="banner" src="~images/base/dot.png" alt="">
    <div class="remind">
      <span>签到提醒</span>
      <a href="javascript:;"
        :class="[isOn ? 'active' : '']"
        @click="handleChangeSwitch"></a>
    </div>
    <div class="situation">
      <div class="box">
        <p>当前累计签到</p>
        <span>1天</span>
      </div>
      <div class="box">
        <p>当前连续签到</p>
        <span>1天</span>
      </div>
    </div>
    <div class="button-group">
      <a href="javascript:;" @click="handleRemindFriends">提醒好友翻倍</a>
      <a href="javascript:;" @click="handleSinIn">今日签到</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sign-in-header',
  data() {
    return {
      isOn: false
    }
  },
  methods: {
    // 是否打开签到提醒
    handleChangeSwitch() {
      this.isOn = !this.isOn;
    },
    // 提醒好友签到
    handleRemindFriends() {},
    // 今日签到
    handleSinIn() {},
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 3.5rem;
  }
  .header img.banner {
    width: 100%;
    height: 100%;
  }
  .header .remind {
    position: absolute;
    top: .2rem;
    right: .2rem;
    width: 2rem;
    height: .5rem;
    line-height: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .remind>span {
    line-height: .24rem;
    font-size: .24rem;
    color: #fff;
  }
  .header .remind>a {
    position: relative;
    width: .8rem;
    height: .4rem;
    background-color: #999;
    border-radius: .4rem;
    transition: all .3s;
  }
  .header .remind>a.active {
    background-color: rgb(103, 161, 49);
  }
  .header .remind>a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: .4rem;
    height: .4rem;
    content: '';
    background-color: #fff;
    border-radius: 50%;
    transition: all .3s;
  }
  .header .remind>a.active::before {
    left: .4rem;
  }
  .header .situation {
    position: absolute;
    top: .7rem;
    left: 0rem;
    width: 100%;
    height: 2rem;
    font-size: .26rem;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header .situation .box {
    height: .8rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
  .header .situation .box>p,
  .header .situation .box>span {
    width: 100%;
  }
  .header .button-group {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    line-height: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header .button-group>a {
    display: inline-block;
    padding: .15rem .3rem;
    line-height: .26rem;
    font-size: .26rem;
    background-color: #fff;
    border-radius: 3px;
  }
</style>