<template>
  <div class="page">
    <!-- header -->
    <component-header></component-header>
    <!-- content -->
    <div class="content">
      <component-calendar></component-calendar>
      <component-progress></component-progress>
      <component-rank></component-rank>
      <component-rule></component-rule>
    </div>
  </div>
</template>

<script>
import componentHeader from './Header.vue'
import componentCalendar from './Calendar.vue'
import componentProgress from './ProgressBar.vue'
import componentRank from './Rank.vue'
import componentRule from './Rule.vue'

export default {
  name: 'sign-in',
  data() {
    return {}
  },
  created() {
  },
  methods: {
    
  },
  components: {
    componentHeader,
    componentProgress,
    componentRank,
    componentRule,
    componentCalendar,
  }
}
</script>

<style scoped>
  
</style>