<template>
  <div class="desc-progress">
    <div class="item" v-for="(item, index) in progress" :key="index">
      <div class="box">
        <p>{{item.desc}}</p>
        <div class="progress-bar">
          <div class="bar">
            <div :style="{width: item.width}"></div>
          </div>
          <span>{{item.current}}/{{item.total}}</span>
        </div>
      </div>
      <a href="javascript:;">再接再厉</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sign-in-progress-bar',
  data() {
    return {
      progress: [
        { id: 0, desc: '连续签到100天获得200金币', current: 80, total: 100, width:'80%' },
        { id: 1, desc: '连续签到180天获得500金币', current: 50, total: 180, width:'28%' },
        { id: 2, desc: '累计签到365天获得1000金币', current: 20, total: 365, width:'5%' },
      ]
    }
  }
}
</script>

<style scoped>
  .desc-progress {
    width: 6.9rem;
    margin: 0 auto;
    font-size: .26rem;
  }
  .desc-progress .item {
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #999;
  }
  .desc-progress .item .box {
    width: 5rem;
  }
  .desc-progress .item .progress-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desc-progress .item .progress-bar .bar {
    position: relative;
    width: 4rem;
    height: .1rem;
    background-color: #999;
    border-radius: .1rem;
    overflow: hidden;
  }
  .desc-progress .item .progress-bar .bar>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: .1rem;
    content: '';
    background-color: rgb(162, 187, 22);
    border-radius: .1rem;
  }
  .desc-progress .item>a {
    width: 1.5rem;
    height: .5rem;
    line-height: .5rem;
    font-size: .24rem;
    text-align: center;
    border: 1px solid #999;
    border-radius: 3px;
  }
</style>