<template>
  <div class="rank">
    <h3>签到排行榜</h3>
    <div class="item">
      <div class="box">今日签到人数: <span>193372</span></div>
      <div class="box">您当前排名: <span>3372</span></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sign-in',
  data() {
    return {}
  }
}
</script>

<style scoped>
  .rank {
    width: 100%;
    margin: .3rem auto;
    font-size: .28rem;
    border-bottom: 1px solid #999;
  }
  .rank>h3 {
    height: .8rem;
    padding-left: .3rem;
    line-height: .8rem;
    font-size: .3rem;
    font-weight: bold;
    border-bottom: 1px solid #999;
  }
  .rank .item {
    width: 100%;
    height: 1rem;
    padding: 0 .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .rank .item .box>span {
    font-weight: bold;
    color: rgb(236, 135, 12);
  }
</style>