<template>
  <div class="rule">
    <h3>签到规则</h3>
    <div class="content">
      <p v-for="(item, index) in rules" :key="index">{{ item }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sign-in-rule',
  data() {
    return {
      rules: [
        '1. 每天签到可获得5金币，提醒好友翻倍',
        '2. 每月连续签到7天可获得1张补签卡',
        '3. 每月连续签到21天，可获得1张补签卡',
        '4. 补签卡仅限当月使用，且补签只计入累计签到不计入连续签到',
        '5. ...',
      ]
    }
  }
}
</script>

<style scoped>
  .rule {
    width: 100%;
    font-size: .24rem;
  }
  .rule>h3 {
    height: .8rem;
    line-height: .8rem;
    font-size: .3rem;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #999;
  }
  .rule .content {
    width: 6.9rem;
    margin: .3rem auto;
  }
  .rule .content>p {
    line-height: .36rem;
  }
</style>