<template>
  <div class="page">
    <div class="content">
      <div class="item" v-for="(item, index) in list" :key="index">
        <div class="card">
          <p>{{item.name}}</p>
          <a href="javascript:;">可分解{{item.num}}张</a>
        </div>
        <div class="button-change">
          <span @click="sub(index)">-</span>
          <span>{{item.count}}</span>
          <span @click="add(index)">+</span>
        </div>
      </div>
    </div>
    <div style="height: 1rem;"></div>
    <div class="footer">
      <a href="javascript:;" @click="handleReset">清空</a>
      <a href="javascript:;" @click="handleDecompose">分解</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'handbook',
  data() {
    return {
      currentIndex: 0,
      list: [],
      navigations: ['折扣卡片', '抽卡次数', '挖矿工具'],
      list: [
          { count: 0, name: '药品名称9.9折卡', num: 3 },
          { count: 0, name: '药品名称9.8折卡', num: 5 },
          { count: 0, name: '药品名称9.5折卡', num: 2 },
          { count: 0, name: '药品名称8.9折卡', num: 1 },
          { count: 0, name: '药品名称8.8折卡', num: 10 },
          { count: 0, name: '药品名称8.5折卡', num: 3 },
          { count: 0, name: '全场8折卡', num: 1 },
          { count: 0, name: '全场7.5折卡', num: 1 },
          { count: 0, name: '全场7折卡', num: 7 },
          { count: 0, name: '药品名称9.9折卡', num: 3 },
          { count: 0, name: '药品名称9.8折卡', num: 5 },
          { count: 0, name: '药品名称9.5折卡', num: 2 }
      ]
    }
  },
  created() {
  },
  methods: {
    handleReset() {
      this.list = this.list.map(item => {
        item.count = 0;
        return item;
      })
    },
    handleDecompose() {
      let test = this.list.map(item => {
        return {count: item.count, name: item.name, num: item.num}
      })
      console.table(test)
    },
    sub(index) {
      let item = this.list[index];
      if (item.count > 0) {
        item.count--;
      }
    },
    add(index) {
      let item = this.list[index];
      if (item.count < item.num) {
        item.count++;
      }
    }
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header>a {
    height: .26rem;
    padding: .15rem .3rem;
    line-height: .26rem;
    font-size: .25rem;
    border: 1px solid #999;
    border-radius: 3px;
  }
  .header>a.active {
    color: #fff;
    background-color: #333;
    border-color: #333;
  }
  .content {
    position: relative;
    width: 6.9rem;
    margin: .3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .content .item {
    width: 2.1rem;
    height: 3.1rem;
    margin-right: .3rem;
    margin-bottom: .3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    box-sizing: border-box;
  }
  .content .card {
    width: 2.1rem;
    height: 2.5rem;
    border: 1px solid #999;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    box-sizing: border-box;
  }
  .content .card>p {
    width: 100%;
    line-height: 1.5rem;
    font-size: .24rem;
    text-align: center;
  }
  .content>div:nth-child(3n) {
    margin-right: 0;
  }
  .content .card>a {
    width: 100%;
    height: .24rem;
    padding: .1rem;
    line-height: .24rem;
    font-size: .2rem;
    text-align: right;
    color: red;
  }
  .content .item .button-change {
    width: 100%;
    height: .4rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: .26rem;
    border: 1px solid #999;
    border-radius: 3px;
    overflow: hidden;
  }
  .content .item .button-change>span {
    display: block;
    line-height: .4rem;
    text-align: center;
  }
  .content .item .button-change>span:first-child,
  .content .item .button-change>span:last-child {
    width: .4rem;
    height: .4rem;
    background-color: #999;
  }
  .content .item .button-change>span:first-child {
    border-right: 1px solid #999;
  }
  .content .item .button-change>span:last-child {
    border-left: 1px solid #999;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 7.5rem;
    height: 1rem;
    transform: translateX(-50%);
    font-size: .26rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #999;
  }
  .footer>a {
    display: inline-block;
    margin-right: .3rem;
    padding: .15rem .3rem;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
  }
  .footer>a:last-child {
    margin-right: 0;
  }
</style>