<template>
  <div class="page">
    <div class="header">
      <img class="banner" src="~images/base/dot.png" alt="">
    </div>
    <div class="content">
      <router-link class="item" to="/answer/start-answer">开始答题</router-link>
      <router-link class="item" to="/answer/checkpoint">闯关模式</router-link>
      <router-link class="item" to="/answer/challenge">挑战模式</router-link>
    </div>
    <div class="footer rule">
      <h3>答题规则</h3>
      <div class="rule-content">
        <p v-for="(item, index) in rules" :key="index">{{ item }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'answer',
  data() {
    return {
      rules: [
        '1. 每人每天默认一次答题，分享后获得一次机会，每天最多可增加3次答题机会',
        '2. 每题限时10秒，答对可获得金币奖励',
        '3. 每周二晚上19:00-21:00开启开启闯关模式',
        '4. 闯关到第10关之后，可开启挑战模式',
        '5. ...',
      ]
    }
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 3.5rem;
  }
  .header img.banner {
    width: 100%;
    height: 100%;
  }
  .content {
    position: relative;
    width: 6.9rem;
    margin: .3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .content .item {
    width: 5rem;
    height: .8rem;
    margin-bottom: .3rem;
    line-height: .8rem;
    font-size: .26rem;
    text-align: center;
    border: 1px solid #333;
    border-radius: 3px;
  }
  .rule {
    width: 100%;
    font-size: .24rem;
  }
  .rule>h3 {
    height: .8rem;
    line-height: .8rem;
    font-size: .3rem;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #999;
  }
  .rule-content {
    width: 6.9rem;
    margin: .3rem auto;
  }
  .rule-content>p {
    line-height: .36rem;
  }
</style>