<template>
  <div class="list-card">
    <swiper :options="swiperOption" v-if="swiperOption">
      <swiper-slide v-for="(item, index) in list" :key="index">
        <div class="item">
          <img :src="item.imgUrl" alt="">
          <gl-circle v-if="item.num > -1" class="icon-circle">{{item.num}}</gl-circle>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'list-card',
  data() {
    return {
      list: [
        { id: 0, num: 3, imgUrl: require('images/card-A.png') },
        { id: 1, num: 2, imgUrl: require('images/card-B.png') },
        { id: 2, num: 1, imgUrl: require('images/card-C.png') },
        { id: 2, num: 2, imgUrl: require('images/card-D.png') },
        { id: 2, num: 0, imgUrl: require('images/card-E.png') }
      ],
      swiperOption: {
        freeMode : false,
        loop: true,
        initialSlide: 0,
        slidesPerView: 1.7,
        loopedSlides: 3,
        centeredSlides: true,
        spaceBetween: 50,
        effect : 'coverflow',
        coverflowEffect: {
          rotate: 0,
          stretch: 0,
          depth: 50,
          modifier: 2,
          slideShadows: false
        }
      }
    }
  },
  components: {
    swiper,
    swiperSlide
  }
}
</script>

<style scoped>
  .list-card {
    width: 7.5rem;
    padding: .3rem 0;
  }
  .list-card .item {
    position: relative;
    padding-top: .1rem;
    width: 4rem;
    height: 5rem;
  }
  .list-card .item>img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .1rem;
  }
  .list-card .item .icon-circle {
    position: absolute;
    top: 0rem;
    right: -.1rem;
  }
</style>