<template>
  <div class="page">
    <div class="header">
      <a href="javascript:;" v-for="(item, index) in navigations" :key="index"
        :class="[currentIndex == index ? 'active' : '']"
        @click="handleChangeNavigation(index)">{{item}}</a>
    </div>
    <div class="content">
      <div class="nagigations">
        <div class="item" v-for="(item, index) in nagigations" :key="index">
          {{item}}
        </div>
      </div>
      <div class="list" :style="{height: `${listHeight}px`}">
        <div class="row" v-for="(item, index) in list.concat(list).concat(list)" :key="index">
          <div class="column">
            <span class="card"></span>
            <p>{{item.name}}</p>
          </div>
          <div class="column">{{item.period}}</div>
          <div class="column">{{item.quantity}}</div>
          <div class="column"><span class="button">购买</span></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'handbook',
  data() {
    return {
      currentIndex: 0,
      listHeight: 600,
      navigations: ['全部', '普通卡', '稀有卡'],
      nagigations: [ '卡片名称', '有效期(天)', '售价(金币)', '操作' ],
      list: [
        { name: '全场5折卡', period: '300', quantity: 10000 },
        { name: '全场8.5折卡', period: '231', quantity: 8000 },
        { name: '感冒灵9.8折卡', period: '356', quantity: 6000 },
        { name: '***9.5折卡', period: '10', quantity: 3000 },
        { name: '板蓝根9折卡', period: '30', quantity: 900 },
        { name: '3M口罩9折卡', period: '180', quantity: 300 },
      ]
    }
  },
  mounted() {
    this.listHeight = window.innerHeight - ( 200 ) * __remScale
  },
  methods: {
    handleChangeNavigation(index) {
      this.currentIndex = index;
    },
    handleChangeTools(index) {
      this.currentIndex2 = index;
    }
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header>a {
    height: .26rem;
    padding: .15rem .3rem;
    line-height: .26rem;
    font-size: .25rem;
    border: 1px solid #999;
    border-radius: 3px;
  }
  .header>a.active {
    color: #fff;
    background-color: #333;
    border-color: #333;
  }
  .content .nagigations {
    position: relative;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #999;
  }
  .content .nagigations .item {
    height: 1rem;
    line-height: 1rem;
    font-size: .26rem;
    text-align: center;
    border-right: 1px solid #fff;
  }
  .content .list {
    height: 9rem;
    overflow-y: scroll;
  }
  .content .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fff;
    background-color: #eee;
  }
  .content .row .column {
    height: 1rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: .24rem;
    color: #000;
    text-align: center;
    border-right: 1px solid #fff;
  }
  .content .row .column .card {
    display: block;
    width: .6rem;
    height: .6rem;;
    line-height: 1rem;
    text-align: center;
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #fff;
  }
  .content .row .column>p {
    width: 100%;
    text-align: center;
  }
  .content .row .column .button {
    display: block;
    width: 1rem;
    height: .5rem;;
    line-height: .5rem;
    text-align: center;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
  }
  .content .nagigations>div:first-child,
  .content .row>div:first-child {
    flex-basis: 2rem;
  }
  .content .nagigations>div:nth-child(2),
  .content .row>div:nth-child(2) {
    flex-basis: 1.5rem;
  }
  .content .nagigations>div:nth-child(3),
  .content .row>div:nth-child(3) {
    flex-basis: 1.5rem;
  }
  .content .nagigations>div:last-child,
  .content .row>div:last-child {
    flex: 2;
    border-right: 0;
  }
</style>