<template>
  <div class="modal-packet-box">
    <div class="record-list-border">
      <div class="record-list">
        <div class="item"
          v-for="(item, index) in list" :key="index">
          <div class="portrait">
            <img :src="item.portrait" alt="">
            <div class="desc">
              <h3>{{item.name}}</h3>
              <p>{{item.datetime}}</p>
            </div>
          </div>
          <div class="price">+<b>{{item.price}} </b>元</div>
        </div>
      </div>
    </div>
    <gl-modal-button-ensure
      class="modal-button-ensure"
      :type="'boostRecord'">我知道了</gl-modal-button-ensure>
  </div>
</template>

<script>
import { formatDate } from '@/utils/index.js'

export default {
  name: 'modal-packet-05',
  props: ['data'],
  data() {
    return {
      list: []
    }
  },
  watch: {
    data: {
      immediate: true,
      deep: true,
      handler(newVal, oldVal) {
        let list = [];
        newVal.forEach(item => {
          list.push({
            portrait: item.wxImage,
            name: item.pin || '京东用户',
            datetime: formatDate(item.receiveTime, '/', true),
            price: item.readBagPrice
          })
        });
        this.list = list;
      }
    }
  }
}
</script>

<style scoped>
  .modal-packet-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6.4rem;
    height: 9.36rem;
    margin-top: -6rem;
    margin-left: -3.2rem;
    background-image: url(../../../../../assets/images/every-day-get-packet/modal-packet-bg5.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 5.6rem;
  }
  .modal-packet-box .record-list-border {
    position: absolute;
    left: .93rem;
    bottom: .9rem;
    width: 4.5rem;
    height: 4.5rem;
    overflow: hidden;
  }
  .modal-packet-box .record-list {
    width: 5rem;
    height: 4.5rem;
    overflow-y: scroll;
  }
  .modal-packet-box .record-list .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4.5rem;
    padding-bottom: .4rem;
  }
  .modal-packet-box .record-list .item .portrait {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal-packet-box .record-list .item .portrait>img {
    width: .54rem;
    height: .54rem;
    margin-right: .2rem;
    border-radius: 50%;
  }
  .modal-packet-box .record-list .item .desc>h3 {
    margin-bottom: .1rem;
    font-weight: bold;
    font-size: .24rem;
    color: #740700;
  }
  .modal-packet-box .record-list .item .desc>p {
    font-size: .2rem;
    color: #740700;
  }
  .modal-packet-box .record-list .item .price {
    font-size: .28rem;
    color: #EC0420;
  }
  .modal-packet-box .modal-button-ensure {
    left: 1.525rem;
    bottom: -.2rem;
  }
</style>