<template>
  <div id="app">
    <router-view></router-view>
    <router-link class="go-home" :to="pathHome">回首页</router-link>
  </div>
</template>

<script>

export default {
  name: 'app',
  data() {
    return {
      pathHome: this.$router.options.routes[0].path
    }
  }
}
</script>

<style>
#app {
	width: 7.5rem;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
#app .page {
  width: 100%;
  height: 100%;
}
.go-home {
  position: fixed;
  right: .1rem;
  bottom: 1rem;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: .24rem;
  color: #fff;
  text-align: center;
  background-color: #333;
  border-radius: 50%;
}
</style>