.mint-header{
    background-color: #ffffff;
}
.mint-header{
    color:#1D1E1E
}
.mint-navbar .mint-tab-item.is-selected{
    color:#262626;
    border-bottom: 3px solid #FA5737;
}

.mint-button{
    border-radius: 18px;
}
.mint-button--default.is-plain{
    border:1px solid #ccc;
}