html {
	padding: 0;
}
html, body {
	width: 100%;
	margin: 0;
	font-family: Arial,Helvetica,sans-serif;
	background-color: #fff;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0
}
dd {
	margin-left: 0
}
ul, ol {
	padding-left: 0
}
h1, h2, h3, h4, h5, h6, p {
	font-size: inherit;
	font-weight: normal;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0
}
input,
textarea {
	padding: 0px;
	margin: 0px;
	color: inherit;
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
	font-family: inherit;
	font-size: inherit;
	border: 0;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input[type='submit'],
input[type='button'],
button {
	outline: none;
	-webkit-appearance: none;
}
input[type='radio'],
input[type='checkbox'] {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}
input, label, a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
em, i {
	font-style: normal;
}
a {
	color: inherit;
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	border: 0;
}
::-moz-placeholder {
	color: #d5d5d5
}
::-webkit-input-placeholder {
	color: #d5d5d5
}
:-ms-input-placeholder {
	color: #d5d5d5
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clx {
	zoom: 1;
}
.clx:after {
	display: block;
	clear: both;
	content: ".";
	height: 0;
	visibility: hidden;
	overflow: hidden;
}

#app {
	width: 7.5rem;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
