<template>
  <div class="page">
    <div class="header">
      <p>倒计时：还剩<span>27.9</span>秒</p>
      <div class="title-number">第1关(3/10)</div>
    </div>
    <div class="content">
      <div class="title">可以用水扑灭的火灾是下列哪种物质？</div>
      <div class="item">A. 油类起火</div>
      <div class="item">B. 酒精起火</div>
      <div class="item">C. 电器起火</div>
      <div class="item">D. 棉被起火</div>
    </div>
    <div class="footer rule">
      <h3>暂时设想</h3>
      <div class="rule-content">
        <p v-for="(item, index) in rules" :key="index">{{ item }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'answer',
  data() {
    return {
      rules: [
        '1. 第一关 30秒内全部答对10道题',
        '2. 第二关 25秒内全部答对10道题',
        '3. ....',
        '4. 试题分布在一个页面中，不在每道题单独占用1页，避免中途切换卡顿，影响计算时间，最终时间以提交时间为准',
      ]
    }
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
  }
  .header>p {
    width: 100%;
    line-height: 1rem;
    font-size: .26rem;
    text-align: center;
  }
  .header .title-number {
    width: 100%;
    height: .8rem;
    margin: 0 auto;
    line-height: .8rem;
    font-size: .26rem;
    text-align: center;
    border-bottom: 1px solid #999;
  }
  .content {
    position: relative;
    width: 6.9rem;
    margin: .3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .content .title {
    width: 5.3rem;
    height: .8rem;
    margin-bottom: .3rem;
    line-height: .8rem;
    font-size: .26rem;
  }
  .content .item {
    width: 5rem;
    margin-bottom: .3rem;
    padding: .2rem .3rem;
    line-height: .26rem;
    font-size: .26rem;
    text-align: left;
    border: 1px solid #333;
    border-radius: 3px;
  }
  .rule {
    width: 100%;
    font-size: .24rem;
  }
  .rule>h3 {
    height: .8rem;
    line-height: .8rem;
    font-size: .3rem;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #999;
  }
  .rule-content {
    width: 6.9rem;
    margin: .3rem auto;
  }
  .rule-content>p {
    line-height: .36rem;
  }
</style>