<template>
  <div class="modal-packet-box">
    <gl-modal-button-close></gl-modal-button-close>
    <gl-modal-top-title class="modal-title">{{data.topTitle}}</gl-modal-top-title>
    <div class="modal-price">
      <gl-price :layout="layout">{{data.price | number2Decimal}}</gl-price>
    </div>
    <p class="modal-note">— 无门槛红包，下单立减 —</p>
    <gl-modal-button-ensure
      class="modal-button-ensure"
      :type="'firstOpen'">{{data.buttonText}}</gl-modal-button-ensure>
  </div>
</template>

<script>
export default {
  name: 'modal-packet-01',
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      layout: {
        isBold: true,
        sign: { fontSize: '.5rem' },
        value: { fontSize: '.8rem' }
      }
    }
  }
}
</script>

<style scoped>
  .modal-packet-box {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    width: 6.4rem;
    height: 7.8rem;
    margin-top: -3.9rem;
    margin-left: -3.2rem;
    background-image: url(../../../../../assets/images/every-day-get-packet/modal-packet-bg1.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 6.4rem;
  }
  .modal-packet-box .modal-title {
    top: 2.6rem;
    left: 1.1rem;
  }
  .modal-packet-box .modal-price {
    position: absolute;
    top: 3rem;
    left: 1.1rem;
    width: 4.45rem;
    height: 1.1rem;
    text-align: center;
    color: #EC0420;
  }
  .modal-packet-box .modal-note {
    position: absolute;
    bottom: 1.5rem;
    left: 1.1rem;
    width: 4.45rem;
    font-size: .26rem;
    color: #FFEBBA;
    text-align: center;
  }
  .modal-packet-box .modal-button-ensure {
    left: 1.525rem;
    bottom: .3rem;
  }
</style>