<template>
  <div class="center product-info-box">
    <div class="center title-box">
      <h3 class="title">健康常备</h3>
      <a class="button-more" :href="data.jumpLink"></a>
    </div>
    <jdh-list :data="data.list"></jdh-list>
    <jdh-advert :data="data.adverts"></jdh-advert>
  </div>
</template>

<script>
import jdhList from './list'
import jdhAdvert from './advert'

export default {
  name: 'content-medicine',
  props: ['data'],
  data() {
    return {}
  },
  components: {
    jdhList,
    jdhAdvert
  }
}
</script>

<style scoped>
  .product-info-box {
    width: 100%;
    padding-top: .3rem;
  }
  .product-info-box .title-box {
    width: 6.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-info-box .title-box .title {
    font-size: .4rem;
    font-weight: bold;
    color: #fff;
  }
  .product-info-box .button-more {
    position: relative;
    display: block;
    width: .95rem;
    height: .23rem;
    font-size: 0;
    background: url(../../../assets/images/every-day-get-packet/button-more.png) center no-repeat / 100% 100%;
  }
  .product-info-box .button-more::after {
    position: absolute;
    top: .01rem;
    right: -.2rem;
    width: .1rem;
    height: .21rem;
    content: "";
    font-size: 0;
    background: url(../../../assets/images/every-day-get-packet/button-more-after.png) center no-repeat / 100% 100%;
  }
</style>