<template>
  <div class="page">
    <div class="header">
      <a href="javascript:;" v-for="(item, index) in navigations" :key="index"
        :class="[currentIndex == index ? 'active' : '']"
        @click="currentIndex = index">{{item}}</a>
    </div>
    <div class="content">
      <div class="item" v-for="(item, index) in list" :key="index"
       @click="handleLookCard">
        <img :src="item.imgUrl" alt="">
      </div>
    </div>
    <div class="mask" v-show="isShow">
      <div class="modal-content">
        <a href="javascript:;" @click="handleClose">×</a>
        <img class="card" src="~images/base/dot.png" alt="">
        <h3></h3>
        <div class="desc">
          <p>卡片名称：999感冒灵折扣卡</p>
          <p>卡片等级：3星</p>
          <p>使用范围：仅限于购买999感冒灵药品</p>
          <p>有效期限：2019-01-01 00:00:00-2019-12-31 23:59:59</p>
          <p>......</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'handbook',
  data() {
    return {
      isShow: false,
      currentIndex: 0,
      list: [],
      navigations: ['保健药类', '感冒药类', '全场通用类'],
      list: [
        { value: '1星', imgUrl: require('images/base/dot.png') },
        { value: '2星', imgUrl: require('images/base/dot.png') },
        { value: '3星', imgUrl: require('images/base/dot.png') },
        { value: '1星', imgUrl: require('images/base/dot.png') },
        { value: '2星', imgUrl: require('images/base/dot.png') },
        { value: '3星', imgUrl: require('images/base/dot.png') },
        { value: '1星', imgUrl: require('images/base/dot.png') },
        { value: '2星', imgUrl: require('images/base/dot.png') },
        { value: '3星', imgUrl: require('images/base/dot.png') },
        { value: '1星', imgUrl: require('images/base/dot.png') },
        { value: '2星', imgUrl: require('images/base/dot.png') },
        { value: '2星', imgUrl: require('images/base/dot.png') }
      ]
    }
  },
  methods: {
    handleLookCard(index) {
      this.isShow = true;
    },
    handleClose(index) {
      this.isShow = false;
    }
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header>a {
    height: .26rem;
    padding: .15rem .3rem;
    line-height: .26rem;
    font-size: .25rem;
    border: 1px solid #999;
    border-radius: 3px;
  }
  .header>a.active {
    color: #fff;
    background-color: #333;
  }
  .content {
    position: relative;
    width: 6.9rem;
    margin: .3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .content .item {
    width: 1.5rem;
    height: 2rem;
    margin-right: .2rem;
    margin-bottom: .3rem;
  }
  .content>div:nth-child(4n) {
    margin-right: 0;
  }
  .content .item>img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }
  .mask .modal-content {
    position: relative;
    width: 7rem;
    height: 8rem;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
  }
  .mask .modal-content>a {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: .6rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .6rem;
    color: #000;
    text-align: center;
  }
  .mask .modal-content .card {
    display: block;
    width: 6.3rem;
    height: 2rem;
    margin: 1rem auto .3rem;
    border-radius: 5px;
  }
  .mask .modal-content .desc {
    width: 6.3rem;
    margin: 0 auto;
    font-size: .24rem;
  }
  .mask .modal-content .desc>p {
    line-height: .48rem;
  }
</style>