<template>
  <h3 class="center title">
    <slot></slot>
  </h3>
</template>

<script>
export default {
  name: "headline"
}
</script>

<style scoped>
  .title {
    position: relative;
    width: 3.78rem;
    height: .55rem;
    font-size: .24rem;
    line-height: .55rem;
    text-align: center;
    color: #fff;
    background-color: #FFB500;
    border-radius: 0px 0px .2rem .2rem;
    box-shadow: 0px 3px 3px 0px rgba(253,191,94,0.5);
  }
  .title::before,
  .title::after {
    position: absolute;
    top: 0;
    width: .3rem;
    height: .3rem;
    content: "";
  }
  .title::before {
    left: -.3rem;
    background: radial-gradient(circle at left bottom, transparent .3rem, #FFB500 0) top left/100% 100% no-repeat;
  }
  .title::after {
    right: -.3rem;
    background: radial-gradient(circle at right bottom, transparent .3rem, #FFB500 0) top left/100% 100% no-repeat;
  }
  .title .arrow {
    position: relative;
    padding-right: .2rem;
  }
  .title .arrow::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: .1rem;
    height: .21rem;
    content: "";
    background: url(../../../assets/images/every-day-get-packet/go-hall-arrow.png) center / 100% 100% no-repeat;
    transform: translateY(-50%);
  }
</style>