<template>
  <div class="center content-packet-box">
    <!-- 红包图片列表 -->
    <div class="list-packet-box">
      <jdh-headline>你好，{{userName | nameHide}}</jdh-headline>
      <jdh-received :userType="userType" :data="content.receivedInfos"></jdh-received>
      <jdh-packet-list
        :count="boostNumbers"
        :userType="userType"
        :activityInfo="activityInfo"
        :data="content.packetList"></jdh-packet-list>
      <button class="button" @click="handleClick($event)">{{buttonText}}</button>
    </div>
    <!-- 红包助力记录列表 -->
    <jdh-record
      :userType="userType"
      :activityInfo="activityInfo"
      :linkText="linkText"
      :list="content.recordList"
      @addFriend="handleClick"></jdh-record>
  </div>
</template>

<script>
import jdhHeadline from './headline'
import jdhReceived from './received.vue'
import jdhPacketList from './packetList.vue'
import jdhRecord from './record.vue'

export default {
  name: 'content-packet',
  props: ['isBoostComplete', 'userInfo', 'activityInfo', 'content'],
  data() {
    return {
      userName: '',
      userType: '',
      boostNumbers: -1,
      linkText: '',
      buttonText: ''
    }
  },
  watch: {
    userInfo: {
      immediate: true,
      deep: true,
      handler(newVal, oldVal) {
        this.userName    = newVal.name;
        this.userType    = newVal.type;
      }
    },
    activityInfo: {
      immediate: true,
      deep: true,
      handler(newVal, oldVal) {
        let { boostNumbers, rule } = newVal;

        this.boostNumbers          = boostNumbers;
        this.changeButtonText(boostNumbers, rule);
      }
    },
    isBoostComplete: {
      immediate: true,
      handler(newVal, oldVal) {
        if (newVal) {
          this.buttonText = `我也要红包`;
        }
      }
    }
  },
  methods: {
    handleClick(e) {
      if (this.boostNumbers < 0) {
        console.warn(`boostNumbers:${this.boostNumbers}`);
        return false;
      }
      this.EventBus.$emit("inviteHelping", e);
    },
    changeButtonText(count, rule) {
      let text = '';
      let type = this.userType;

      for (let i = 0; i < rule.length; i++) {
        if (count >= 0 && count < rule[i]) {
          text = type === 'initiator' ? `邀${rule[i] - count}人助力，再开红包` : this.isBoostComplete ? `我也要红包` : `帮TA助力`;
          break;
        } else if (count >= rule[rule.length - 1]) {
          text = type === 'initiator' ? `去逛会场` : `我也要红包`;
          break;
        } else {
          text = '活动太火爆，请稍后重试...';
        }
      }
      this.buttonText = text;
      this.linkText = count < rule[3] ? `${count}人已助力，查看助力记录` : `助力已完成，查看助力记录`;
    }
  },
  filters: {
    nameHide(val) {
      if (!val) {
        return '京东用户';
      } else {
        val = val.toString();
        if (val.length > 2) {
          return val.split('')[0] + '*' + val.split('')[val.length - 1]
        } else {
          return val.split('')[0] + '*'
        }
      }
    }
  },
  components: {
    jdhHeadline,
    jdhReceived,
    jdhPacketList,
    jdhRecord
  }
}
</script>

<style scoped>
  .content-packet-box {
    position: relative;
    width: 6.7rem;
  }
  .content-packet-box .list-packet-box {
    position: relative;
    margin-top: -3rem;
    height: 5.5rem;
    background: radial-gradient(circle at left 1.5rem, transparent .13rem, #FEEAC0 0) top left/51% 100% no-repeat,
                radial-gradient(circle at right 1.5rem, transparent .13rem, #FEEAC0 0) top right/51% 100% no-repeat;
    border-radius: .2rem;
  }
  .content-packet-box .list-packet-box .button {
    display: block;
    width: 5.9rem;
    height: .95rem;
    margin-left: auto;
    margin-right: auto;
    font-size: .26rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: .8rem;
    background: url(../../../assets/images/every-day-get-packet/button-invite-bg.png) transparent center no-repeat / 100%;
    border: none;
    border-radius: .9rem;
    animation: buttonScaleX .6s infinite linear alternate;
  }
  @keyframes buttonScaleX {
    from {
      transform: scaleX(1.02);
    }
    to {
      transform: scaleX(0.98);
    }
  }
</style>