<template>
  <div class="link-rope-box">
    <svg id="circles" xmlns="http://www.w3.org/2000/svg" version="1.1">
       <circle cx="0.1rem" cy="0.1rem" r="0.1rem" fill="#EC3114" />
       <circle cx="0.1rem" cy="0.75rem" r="0.1rem" fill="#EC3114" />
    </svg>
    <div class="item-line"></div>
  </div>
</template>

<script>
export default {
  name: 'link-rope'
}
</script>

<style scoped>
  .link-rope-box {
    position: absolute;
    width: .2rem;
    height: .85rem;
  }
  #circles {
    width: 100%;
    height: 100%;
  }
  .link-rope-box .item-line {
    position: absolute;
    top: .05rem;
    left: .05rem;
    width: .1rem;
    height: .75rem;
    background: linear-gradient(180deg, rgba(255,135,49,1) 0%,rgba(249,139,57,1) 14%,rgba(253,212,130,1) 49%,rgba(250,147,64,1) 88%,rgba(249,101,51,1) 100%);
    border-radius: .05rem;
    box-shadow: 0px 4px 10px 0px rgba(169,28,4,0.2);
  }
</style>