<template>
  <div class="center packet-list-box">
    <div class="list-img-box">
      <div class="item"
        v-for="(item, index) in list" :key="index"
        @click="handleOpenPacket(index)">
        <img alt=""
          :src="item.open ? packetType.opened : item.imgUrl"
          :class="[(userType === 'initiator' && !item.open && item.animation) ? 'shake' : '']">
        <span>{{item.open ? '已领取' : count>=item.count ? '待领取' : item.title}}</span>
        <div class="price" v-if="item.open">
          <gl-price :layout="layout">{{item.price | number2Decimal}}</gl-price>
        </div>
      </div>
    </div>
    <div class="center list-line-box">
      <div class="item-line">
        <div class="item-line-active" :style="{width: progress + 'rem'}"></div>
      </div>
      <div class="item-circle"
        v-for="(item, index) in activityInfo.rule"
        :key="index"
        :class="[count>=activityInfo.rule[index] ? 'active' : '']"
        :style="{left: leftValue * index + 0.38 + 'rem'}"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'packet-list',
  props: ['count', 'userType', 'activityInfo', 'data'],
  data() {
    return {
      layout: {
        isBold: true,
        sign: {
          fontSize: ".2rem"
        },
        value: {
          fontSize: ".3rem"
        }
      },
      leftValue: 1.62,
      progress: 0,
      packetType: {
        opened: require("images/packet-opened.png"),    // 红包已打开
        helping: require("images/packet-helping.png"),  // 红包助力中
        ready: require("images/packet-ready.png"),      // 红包准备打开
        openable: require("images/packet-openable.png"),// 红包默认状态
        double: require("images/packet-double.png")     // 红包翻倍
      },
      list: []
    }
  },
  watch: {
    data: {
      immediate: true,
      handler(newVal, oldVal) {
        this.list = newVal;
      }
    },
    count: {
      immediate: true,
      handler(val) {
        this.handleUpdatePacketInfo(val);  // 更新红包信息
        this.handleUpdateProgress(val);    // 更新进度条
      }
    }
  },
  methods: {
    /**
     * 开红包抽奖
     * 下列情况不触发：
     *    1. 当前红包已开启
     *    2. 当前用户类型为助力者
     *    3. 当前助力人数未达到当前红包所需人数
     */
    handleOpenPacket(index) {
      let rule = this.activityInfo.rule;
      
      if (this.list[index].open || this.userType === 'booster' || this.count < rule[index]) {
        return false;
      }
      
      this.EventBus.$emit("openPacket", index + 1);
    },


    /**
     * 更新红包信息
     * 1. 最高级控制：当前红包为打开状态，强制设置为opened
     * 2. 最高级控制：当前用户为发起者&&红包未打开&&动画状态为true
     */
    handleUpdatePacketInfo(count) {
      let packetList = this.list;               // 红包列表
      let rule       = this.activityInfo.rule;  // 助力阶段
      let userType   = this.userType;           // 用户类型
      let packetType = this.packetType;         // 红包背景图片类型

      packetList[0].imgUrl = packetType.ready;  // 第1个红包默认设置为准备打开
      packetList[3].imgUrl = packetType.double; // 最后一个红包默认设置为“翻倍”红包

      /**
       * 循环遍历助力阶段(助力阶段个数和红包个数相等)
       * 1. 如果当前助力人数 <= 某一个阶段时，进行处理
       *   1-1. 如果当前助力人数 === 某一阶段助力人数，则当前阶段红包背景图为 [准备打开状态] 且显示动画，
       *        若下一阶段存在，则下一阶段红包背景图为“助力中”
       *   1-2. 如果当前助力人数 < 某一阶段助力人数，则当前阶段红包背景图为助力中
       *   1-3. 以上2种情况中，小于当前阶段的红包背景图，全部设置为 [准备打开状态] 且显示动画
       * 备注：红包是否打开以open状态判断为准，红包是否执行动画，以open，userType和animation3者共同决定，
       *      此判断优先级最高，可覆盖以上2点
       */
      for (let i = 0; i < rule.length; i++) {
        if (count <= rule[i]) {
          if (count == rule[i]) {
            packetList[i+1] && (packetList[i+1].imgUrl = packetType.helping);
            packetList[i].imgUrl    = packetType.ready;
            packetList[i].animation = true;
          } else {
            packetList[i].imgUrl = packetType.helping;
          }
          for (let j = 0; j < i; j++) {
            packetList[j].imgUrl    = packetType.ready;
            packetList[j].animation = true;
          }
          break;
        }
      }
    },

    /**
     * 更新进度条
     * 1. 不同阶段，进度不同，需等比例划分
     * 2. 红包之间的长度为leftValue, 边缘处长度为0.38rem
     * 3. 根据当前的助力人数和每个助力阶段所需人数进行计算，并等分当前阶段长度，模拟进度条
     */
    handleUpdateProgress(val) {
      let rule = this.activityInfo.rule;
      let leftValue = this.leftValue;
      let arr = [
        { num: rule[0], len: 0.38 },
        { num: rule[1], len: 0.38 + leftValue },
        { num: rule[2], len: 0.38 + leftValue * 2 },
        { num: rule[3], len: 0.38 + leftValue * 3 + 0.38 }
      ];

      if (val == 0) {
        this.progress = 0.38;
      } else if (val > 0 && val <= arr[1].num) {
        let len   = leftValue / arr[1].num;
        let count = val;

        this.progress = arr[0].len + len * count
      } else if (val > arr[1].num && val <= arr[2].num) {
        let len   = leftValue / (arr[2].num - arr[1].num);
        let count = val - arr[1].num;

        this.progress = arr[1].len + len * count;
      } else if (val > arr[2].num && val < arr[3].num) {
        let len   = leftValue / (arr[3].num - arr[2].num);
        let count = val - arr[2].num;

        this.progress = arr[2].len + len * count;
      } else if (val >= arr[3].num) {
        this.progress = 5.8;
      }
    }
  }
}
</script>

<style scoped>
  .packet-list-box {
    width: 6.2rem;
  }
  .packet-list-box .list-img-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .packet-list-box .list-img-box .item {
    position: relative;
    width: 1.38rem;
  }
  .packet-list-box .list-img-box .item>img {
    display: block;
    width: 100%;
    height: 1.87rem;
  }
  .packet-list-box .list-img-box .item>img.shake {
    animation: shake 1.8s infinite;
  }
  .packet-list-box .list-img-box .item>span {
    display: block;
    height: .5rem;
    line-height: .5rem;
    font-size: .22rem;
    font-weight: bold;
    color: #b9080b;
    text-align: center;
  }
  .packet-list-box .list-img-box .item .price {
    position: absolute;
    top: .43rem;
    left: .28rem;
    color: #EC0420;
  }
  .packet-list-box .list-img-box .tips {
    position: absolute;
    top: -.6rem;
    left: -.5rem;
    left: 1.1rem;
    /*left: 2.7rem;*/
    /*left: 4.3rem;*/
    width: 2.4rem;
    height: .55rem;
    background: url(../~images/packet-receive-tips.png) center / 100% 100% no-repeat;
  }
  .packet-list-box .list-line-box {
    position: relative;
    width: 5.8rem;
    margin: .1rem auto .3rem;
  }
  .packet-list-box .list-line-box .item-line {
    position: relative;
    width: 5.8rem;
    height: .04rem;
    background-color: #fadb98;
    border-radius: .04rem;
    overflow: hidden;
  }
  .packet-list-box .list-line-box .item-line-active {
    width: 0rem;
    height: 100%;
    background-color: #f62d2d;
  }
  .packet-list-box .list-line-box .item-circle {
    position: absolute;
    top: -.06rem;
    width: .16rem;
    height: .16rem;
    background-color: #fadb98;
    border-radius: 50%;
  }
  .packet-list-box .list-line-box .item-circle.active {
    background-color: #f62d2d;
  }
  @keyframes shake {
    2.5%,12.5% {
      transform: rotate(-10deg);
    }
    0%,5%,10%,15%,17.6%,100% {
      transform: rotate(0deg);
    }
    7.5%,17.5% {
      transform: rotate(10deg);
    }
  }
</style>