<template>
  <div class="received-box">
    <div class="logined" v-if="userType === 'initiator'">
      <div class="item today">
        <gl-price>{{data.todayPrice | number2Decimal}}</gl-price>
        <a href="javascript:;"
          :class="[isAndroid ? 'android' : '']"
          @click="handleToday">今日已领</a>
      </div>
      <div class="divide-line"></div>
      <div class="item total">
        <gl-price>{{data.totalPrice | number2Decimal}}</gl-price>
        <a href="javascript:;"
          :class="[isAndroid ? 'android' : '']"
          @click="handlePartake">累计红包</a>
      </div>
    </div>
    <div class="center unlogin" v-else>
      <div class="icon-left"></div>
      <h3 class="title">
        <b>{{data.name}}</b>
        <span>好友今日已领</span>
      </h3>
      <gl-price>{{data.price | number2Decimal}}</gl-price>
      <div class="icon-right"></div>
    </div>
  </div>
</template>

<script>
import { isAndroid } from '@/utils/index.js'
export default {
  name: 'packet-received',
  props: ['userType', 'data'],
  data() {
    return {
      isAndroid: isAndroid()
    }
  },
  methods: {
    handleToday() {
      salert.show({
        content: '今日已领指今日获得的参与红包、助力红包、翻倍红包的总和'
      });
    },
    handlePartake() {
      this.EventBus.$emit('emitGetAccumulatedPacketRecord');
    }
  }
}
</script>

<style scoped>
  .received-box .logined,
  .received-box .unlogin {
    display: flex;
    align-items: center;
    height: 1rem;
  }
  .received-box .logined {
    justify-content: space-between;
  }
  .received-box .unlogin {
    position: relative;
    justify-content: center;
    align-items: center;
    color: #EC0420;
  }
  .received-box .logined .divide-line {
    width: .16rem;
    height: .49rem;
    flex-shrink: 0;
    background: url(../../../assets/images/every-day-get-packet/devide-circle.png) center no-repeat;
    background-size: 100%;
  }
  .received-box .logined .item {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .received-box .logined .item>a {
    position: relative;
    display: inline-block;
    height: .2rem;
    margin-left: .06rem;
    padding: .1rem .3rem .1rem .2rem;
    line-height: .2rem;
    font-size: .2rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border-radius: .4rem;
  }
  .received-box .logined .item>a.android {
    padding-top: .12rem;
    padding-bottom: .08rem
  }
  .received-box .logined .item>a::after {
    position: absolute;
    top: 50%;
    right: .1rem;
    width: 0;
    height: 0;
    content: "";
    margin-top: -0.065rem;
    border-left: .1rem solid #fff;
    border-top: .06rem solid transparent;
    border-bottom: .06rem solid transparent;
  }
  .received-box .logined .item.today {
    color: #F69E03;
  }
  .received-box .logined .item.total {
    color: #EC0420;
  }
  .received-box .logined .item.today>a {
    background-color: #F69E03;
  }
  .received-box .logined .item.total>a {
    background-color: #EC0420;
  }

  .received-box .unlogin .title {
    font-size: .3rem;
    line-height: .3rem;
  }
  .received-box .unlogin .title>span {
    padding-left: .1rem;
    padding-right: .1rem;
  }
  .received-box .unlogin .icon-left,
  .received-box .unlogin .icon-right {
    width: .66rem;
    height: .26rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .received-box .unlogin .icon-left {
    margin-right: .1rem;
    background-image: url(../../../assets/images/every-day-get-packet/decorate-left.png)
  }
  .received-box .unlogin .icon-right {
    margin-left: .2rem;
    background-image: url(../../../assets/images/every-day-get-packet/decorate-right.png)
  }
</style>