<template>
  <div class="helping-record-box">
    <!-- title -->
    <jdh-headline>{{activityInfoTips}}</jdh-headline>
    <!-- portrait list -->
    <!-- 助力人数大于0小于7时，排列显示 -->
    <div class="list-portrait-box" v-if="list.length > 0 && list.length < 7">
      <div class="item"
        v-for="(item, index) in list" :key="index">
        <img :src="item.imgUrl" alt="">
      </div>
      <div v-if="userType==='initiator' && list.length<activityInfo.rule[3]" class="item add" @click="handleInvite($event)"></div>
    </div>
    <!-- 助力人数大于等于7时，叠加显示，由于当前列表时倒序，所以去最新的前四项 -->
    <div class="list-portrait-box overlying" v-if="list.length >= 7">
      <div class="portrait-box">
        <div class="item"
          v-for="(item, index) in list.slice(0, 4)" :key="index">
          <img :src="item.imgUrl" alt="">
        </div>
      </div>
      <div v-if="userType==='initiator' && list.length<activityInfo.rule[3]" class="item add" @click="handleInvite($event)"></div>
    </div>
    <!-- 助力人数为0时 -->
    <div class="list-portrait-box empty" v-if="list.length == 0">
      <div class="item add" v-if="userType==='initiator'" @click="handleInvite($event)"></div>
      <p class="empty-note" v-if="list.length == 0">邀请越多，红包越多哦~</p>
    </div>
    <!-- button link -->
    <a class="button-link" href="javascript:;"
      v-if="list.length > 0"
      @click="handleLook">{{linkText}}</a>
    <!-- link rope -->
    <jdh-link-rope class="link-rop-box"
      v-for="(item, index) in ['left', 'right']"
      :class="item"
      :key="index"></jdh-link-rope>
  </div>
</template>

<script>
import { countDate } from '@/utils/index.js'

import jdhHeadline from './headline'
import jdhLinkRope from './linkRope.vue'
export default {
  name: 'helping-record',
  props: ['userType', 'activityInfo', 'linkText', 'list'],
  data() {
    return {
      activityInfoTips: ''
    }
  },
  watch: {
    activityInfo: {
      immediate: true,
      deep: true,
      handler(newVal, oldVal) {
        let { remainTime } = newVal;
        this.handleUpdateRemainTime(remainTime); // 倒计时
      }
    }
  },
  methods: {
    handleInvite(e) {
      if (this.userType === 'booster') {
        return false;
      }
      this.$emit("addFriend", e);
    },
    handleLook() {
      this.EventBus.$emit("lookRecords");
    },
    handleUpdateRemainTime(val) {
      let timer = null;
      let endTime = new Date().getTime() + val;

      if (val == 0) {
        this.activityInfoTips = '活动已结束';
        return false;
      }
      this.activityInfoTips = `${countDate(endTime)} 后活动结束`;
      clearInterval(timer);
      timer = setInterval(() => {
        this.activityInfoTips = `${countDate(endTime)} 后活动结束`;
      }, 1000);
    }
  },
  components: {
    jdhHeadline,
    jdhLinkRope
  }
}
</script>

<style scoped>
  .helping-record-box {
    position: relative;
    margin-top: .2rem;
    padding-bottom: .1rem;
    font-size: 0;
    text-align: center;
    background-color: #FEEAC0;
    border-radius: .2rem;
  }
  .helping-record-box .list-portrait-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.3rem;
    padding: 0rem .3rem;
  }
  .helping-record-box .list-portrait-box.empty {
    justify-content: center;
  }
  .helping-record-box .list-portrait-box.overlying {
    justify-content: center;
  }
  .helping-record-box .list-portrait-box .item {
    width: .6rem;
    height: .6rem;
    margin-left: .2rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .helping-record-box .list-portrait-box.overlying .portrait-box {
    position: relative;
    width: 1.5rem;
    height: .6rem;
  }
  .helping-record-box .list-portrait-box.overlying .portrait-box .item {
    position: absolute;
    top: 50%;
    left: 0rem;
    margin-left: 0rem;
    transform: translateY(-50%);
  }
  .helping-record-box .list-portrait-box.overlying .portrait-box .item:nth-of-type(1) {
    left: 0rem;
  }
  .helping-record-box .list-portrait-box.overlying .portrait-box .item:nth-of-type(2) {
    left: .3rem;
  }
  .helping-record-box .list-portrait-box.overlying .portrait-box .item:nth-of-type(3) {
    left: .6rem;
  }
  .helping-record-box .list-portrait-box.overlying .portrait-box .item:nth-of-type(4) {
    left: .9rem;
  }
  .helping-record-box .list-portrait-box .item:first-of-type {
    margin-left: 0;
  }
  .helping-record-box .list-portrait-box .item.add {
    background: url(../../../assets/images/every-day-get-packet/button-add-bg.png) center / 100% 100% no-repeat;
  }
  .helping-record-box .list-portrait-box .item>img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .helping-record-box .list-portrait-box.empty .empty-note {
    padding-left: .3rem;
    font-size: .26rem;
    color: #b9080b;
    text-align: center;
    line-height: .5rem;
  }
  .helping-record-box .button-link {
    position: relative;
    display: inline-block;
    padding-right: 0.2rem;
    font-weight: bold;
    font-size: .26rem;
    color: #b9080b;
    text-align: center;
    line-height: .5rem;
  }
  .helping-record-box .button-link::after {
    position: absolute;
    top: 50%;
    right: 0rem;
    width: 0;
    height: 0;
    content: "";
    transform: translateY(-50%);
    border-left: .1rem solid #b9080b;
    border-top: .06rem solid transparent;
    border-bottom: .06rem solid transparent;
  }
  .helping-record-box .link-rop-box {
    top: -.53rem;
  }
  .helping-record-box .link-rop-box.left {
    left: .2rem;
  }
  .helping-record-box .link-rop-box.right {
    right: .2rem;
  }
</style>