<template>
  <div class="list">
    <div class="item" v-for="(item, index) in data" :key="index">
      <img :src="item.imgUrl" alt="">
      <div class="right-box">{{item.num}} 张</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'card-grade',
  data() {
    return {
      data: [
        { num: 3, imgUrl: require('images/card-small-A.png') },
        { num: 2, imgUrl: require('images/card-small-B.png') },
        { num: 1, imgUrl: require('images/card-small-C.png') },
        { num: 2, imgUrl: require('images/card-small-D.png') },
        { num: 0, imgUrl: require('images/card-small-E.png') }
      ]
    }
  }
}
</script>

<style scoped>
.list {
  width: 100%;
  padding: 0 .3rem;
  box-sizing: border-box;
}
.list .item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1.5rem;
  border-bottom: 1px solid #666;
}
.list>div:last-of-type {
  border: 0;
}
.list .item>img {
  width: 1rem;
  height: 1.2rem;
  display: block;
  border-radius: .05rem;
}
.list .item .right-box {
  font-size: .32rem;
}

</style>