<template>
  <div class="modal-box">
    <div class="modal-close" @click="close">×</div>
      <div class="modal-header">
        <div class="item" v-for="(item, index) in navBar" :key="index"
          :class="[currentIndex == index ? 'active' : '']"
          @click="currentIndex = index">{{item}}</div>
      </div>
      <div class="modal-content">
        <jdh-card v-if="currentIndex == 0"></jdh-card>
        <jdh-privilege v-if="currentIndex == 1"></jdh-privilege>
      </div>
  </div>
</template>

<script>
import jdhCard from './card'
import jdhPrivilege from './privilege'

export default {
  name: 'modal-own-card',
  data() {
    return {
      currentIndex: 0,
      navBar: ['我的卡片', '我的特权', '我的奖品']
    }
  },
  methods: {
    close() {
      this.$emit('close');
    }
  },
  components: {
    jdhCard,
    jdhPrivilege
  }
}
</script>

<style scoped>
.modal-box {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  background-color: #fff;
  box-sizing: border-box;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: .9rem;
  text-align: center;
  color: #000;
}
.modal-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #666;
    margin-bottom: .3rem;
  }
.modal-header .item {
    padding: .15rem .3rem;
    line-height: .24rem;
    font-size: .24rem;
    border: 1px solid #666;
    border-radius: .05rem;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
 .modal-header .item.active {
    color: #fff;
    background-color: #666;
  }
</style>