<template>
  <div class="list">
    <div class="item" v-for="(item, index) in data" :key="index">
      <img :src="item.imgUrl" alt="">
      <a class="button" href="javascript:;">
        {{item.num > 0 ? `剩余${item.num}张` : '暂无特权'}}
      </a>
    </div>
  </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'card-grade',
  data() {
    return {
      swiperOption: {
        freeMode : false,
        slidesPerView: 1,
        spaceBetween: 15
      },
      data: [
        { num: 3, imgUrl: require('images/card-T-A.png') },
        { num: 2, imgUrl: require('images/card-T-B.png') },
        { num: 1, imgUrl: require('images/card-T-C.png') },
        { num: 2, imgUrl: require('images/card-T-D.png') }
      ]
    }
  },
  components: {
    swiper,
    swiperSlide
  }
}
</script>

<style scoped>
.list {
  width: 100%;
}
.list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.9rem;
  height: 1.7rem;
  margin: 0 auto;
}
.list .item>img {
  width: 4.5rem;
  height: 1.3rem;
  border-radius: .05rem;
}
.list .item>a {
  display: inline-block;
  height: .28rem;
  padding: .15rem .3rem;
  line-height: .28rem;
  font-size: .28rem;
  text-align: center;
  color: #666;
  border: 1px solid #666;
  border-radius: .05rem;
}
</style>