<template>
  <div class="mask">
    <div class="modal">
      <div class="modal-header">
        <h3>恭喜您中奖了</h3>
        <a @click="handleClose" class="button-close" href="javascript:;">×</a>
      </div>
      <div class="modal-content">
        <p>{{data}}</p>
      </div>
      <div class="modal-footer">
        <a @click="handleClose" class="button-ensure" href="javascript:;">确定</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'common-modal',
  props: ['data'],
  methods: {
    handleClose() {
      this.$emit('close');
    }
  }
}
</script>

<style scoped>
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }
  .mask .modal {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 5rem;
    margin-left: -2.5rem;
    font-size: .32rem;
    background-color: #fff;
    border-radius: 3px;
  }
  .mask .modal-header,
  .mask .modal-footer {
    position: relative;
    padding-top: .3rem;
    padding-bottom: .3rem;
  }
  .mask .modal-header>h3 {
    line-height: .32rem;
    font-size: .32rem;
    text-align: center;
  }
  .mask .modal-header .button-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: .6rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .6rem;
    color: #000;
    text-align: center;
  }
  .mask .modal-content {
    position: relative;
    padding: .3rem;
    font-size: .32rem;
    background-color: #fff;
    border-radius: 3px;
  }
  .mask .modal-content>p {
    font-size: .28rem;
    text-align: center;
  }
  .mask .modal-footer {
    text-align: center;
  }
  .mask .modal-footer .button-ensure {
    display: inline-block;
    padding: .15rem .3rem;
    line-height: .24rem;
    font-size: .24rem;
    color: #fff;
    text-align: center;
    background-color: #333;
    border-radius: 3px;
  }
</style>