<template>
  <div class="page">
    <div class="header">
      <img class="banner" src="~images/base/dot.png" alt="">
    </div>
    <div class="content">
      <div v-for="(item, index) in prizes" :key="index"
       :class="['item', `item-${index}`, currentIndex == index ? 'active' : '']">
        {{item.value}}
      </div>
      <div class="item item-button" @click="handleLuckDraw">抽奖</div>
    </div>
    <div class="footer rule">
      <h3>抽奖规则</h3>
      <div class="rule-content">
        <p v-for="(item, index) in rules" :key="index">{{ item }}</p>
      </div>
    </div>
    <common-modal
      v-if="isShow"
      @close="handleCloseModal"
      :data="award"></common-modal>
  </div>
</template>

<script>
import { NineGridLottery } from './a.js'
import CommonModal from '@/components/collect-card/Common/modal'
export default {
  name: 'luck-draw',
  data() {
    return {
      isShow: false,
      isReady: true,
      nineGridLottery: null,
      currentIndex: -1,
      prizeIndex: -1,
      award: '',
      prizes: [
        { value: '全场8折卡' },
        { value: '小额金币' },
        { value: '卡片3连抽' },
        { value: '全场6折卡' },
        { value: '10京豆' },
        { value: '大额金币' },
        { value: '**折扣卡' },
        { value: '金镐' }
      ],
      rules: [
        '1. 每天可获得1次免费抽奖机会',
        '2. 免费抽奖机会用完之后，每次抽奖消耗10金币',
        '3. 每天可累计抽奖3次',
        '4. ...',
      ]
    }
  },
  created() {
    let that = this;
    this.nineGridLottery = new NineGridLottery({
      runningCallback: function(index) {
        that.currentIndex = index;
      },
      successCallback: function() {
        that.lotterySuccess();
      }
    });
  },
  methods: {
    handleLuckDraw() {
      if (!this.isReady) {
        return false;
      }
      this.isReady = false;
      this.prizeIndex = Math.floor(Math.random() * 7);
      this.nineGridLottery.lottery(this.prizeIndex);
    },
    lotterySuccess() {
      this.award = this.prizes[this.prizeIndex].value;
      this.isShow = true;
    },
    handleCloseModal() {
      this.isShow = false;
      this.isReady = true;
    }
  },
  components: {
    CommonModal
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 3.5rem;
  }
  .header img.banner {
    width: 100%;
    height: 100%;
  }
  .content {
    position: relative;
    width: 6.9rem;
    height: 6.9rem;
    margin: .3rem auto;
  }
  .content .item {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.3rem;
    font-size: .32rem;
    text-align: center;
    border: 1px solid #333;
    box-sizing: border-box;
  }
  .content .item.active {
    color: #fff;
    background-color: #999;
  }
  .content .item.item-0,
  .content .item.item-1,
  .content .item.item-2 {
    top: 0;
  }
  .content .item.item-2,
  .content .item.item-3,
  .content .item.item-4 {
    right: 0;
  }
  .content .item.item-4,
  .content .item.item-5,
  .content .item.item-6 {
    bottom: 0;
  }
  .content .item.item-6,
  .content .item.item-7,
  .content .item.item-0 {
    left: 0;
  }
  .content .item.item-1,
  .content .item.item-5,
  .content .item.item-button {
    left: 2.3rem;
  }
  .content .item.item-3,
  .content .item.item-7,
  .content .item.item-button {
    top: 2.3rem;
  }
  .content .item.item-button {
    color: #fff;
    background-color: #333;
  }
  .rule {
    width: 100%;
    font-size: .24rem;
  }
  .rule>h3 {
    height: .8rem;
    line-height: .8rem;
    font-size: .3rem;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #999;
  }
  .rule-content {
    width: 6.9rem;
    margin: .3rem auto;
  }
  .rule-content>p {
    line-height: .36rem;
  }
</style>