<template>
  <div class="page">
    <a class="title" href="javascript:;">游戏规则</a>
    <div class="content">
      <p v-for="(item, index) in list" :key="index">
        {{item}}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'notice-list',
  data() {
    return {
      list: [
        '1. 每天可获得1次免费抽卡机会，如需再次抽卡，可使用金币进入商店购买抽卡次数',
        '2. 可通过签到，答题，抽奖，矿场......等形式获取金币，金币获取规则可查看其对应规则介绍',
        '3. 商店中可购买抽卡次数，挖矿铁锹等物品',
        '4. 多余卡片，可放入拍卖行进行拍卖，换取金币；也可通过分解获取金币',
        '5. 每集齐一类卡片(1-6星)，有机会合成全场折扣卡',
        '6. ......',
      ]
    }
  }
}
</script>

<style scoped>
  .title {
    display: block;
    width: 100%;
    line-height: 1rem;
    font-size: .32rem;
    text-align: center;
  }
  .content {
    position: relative;
    width: 6.9rem;
    margin: .3rem auto;
  }
  .content>p {
    margin-bottom: .2rem;
    font-size: .26rem;
    line-height: .38rem;
  }
</style>