<template>
  <div class="modal-packet-box">
    <gl-modal-button-close></gl-modal-button-close>
    <gl-modal-top-title class="modal-title">
      <p>今日助力机会</p>
      <p>已用完~</p>
    </gl-modal-top-title>
    <gl-modal-button-ensure
      class="modal-button-ensure"
      :type="'IWantRedPacket'">我也要红包</gl-modal-button-ensure>
    <a class="modal-button-go-hall" href="javascript:;" @click="handleClick">去逛会场</a>
  </div>
</template>

<script>
export default {
  name: 'modal-packet-07',
  props: ['data'],
  methods: {
    handleClick() {
      this.EventBus.$emit("modalButtonEnsureClick", "goHall");
    }
  }
}
</script>

<style scoped>
  .modal-packet-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6.4rem;
    height: 7.8rem;
    margin-top: -3.9rem;
    margin-left: -3.2rem;
    background-image: url(../../../../../assets/images/every-day-get-packet/modal-packet-bg1.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 6.4rem;
  }
  .modal-packet-box .modal-title {
    top: 2.7rem;
    left: 1.1rem;
  }
  .modal-packet-box .modal-title>p {
    background-image:-webkit-linear-gradient(bottom,#F90513,#F95E12,#FD9704); 
    background-clip:text; 
    -webkit-text-fill-color:transparent;
  }
  .modal-packet-box .modal-button-ensure {
    left: 1.525rem;
    bottom: 1rem;
  }
  .modal-packet-box .modal-button-go-hall {
    position: absolute;
    left: 2.575rem;
    bottom: .5rem;
    display: block;
    width: 1.5rem;
    height: .28rem;
    line-height: .28rem;
    font-size: .28rem;
    color: #fff;
    text-align: center;
  }
  .modal-packet-box .modal-button-go-hall::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: .1rem;
    height: .21rem;
    content: "";
    background: url(../../../../../assets/images/every-day-get-packet/go-hall-arrow.png) center / 100% 100% no-repeat;
    transform: translateY(-50%);
  }
</style>