<template>
  <div class="page">
    <div class="header">
      分类：<span>999感冒灵折扣卡</span>
    </div>
    <div class="content">
      <div class="item" v-for="(item, index) in list" :key="index">
        <div class="card" @click.once="add(index)">
          <div class="start">
            <span v-for="(item, index) in item.start" :key="index">☆</span>
          </div>
          <p>{{item.name}}</p>
          <a href="javascript:;">拥有{{item.num}}张</a>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="card-small">
        <div class="item" v-for="(item, index) in smallList" :key="index">
          <img :src="item" alt="">
        </div>
      </div>
      <div class="button-list">
        <a href="javascript:;" @click="handleReset">清空</a>
        <a href="javascript:;" @click="handleCompose">合成</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'handbook',
  data() {
    return {
      currentIndex: 0,
      list: [],
      index: 0,
      navigations: ['折扣卡片', '抽卡次数', '挖矿工具'],
      smallList: ['', '', '', '', '', ''],
      list: [
          { start: 1, name: '999感冒灵折扣卡', num: 10 },
          { start: 2, name: '999感冒灵折扣卡', num: 3 },
          { start: 3, name: '999感冒灵折扣卡', num: 5 },
          { start: 4, name: '999感冒灵折扣卡', num: 3 },
          { start: 5, name: '999感冒灵折扣卡', num: 2 },
          { start: 6, name: '999感冒灵折扣卡', num: 1 }
      ]
    }
  },
  created() {
  },
  methods: {
    handleReset() {
      this.list = this.list.map(item => {
        item.num++;
        return item;
      })
      this.smallList = ['', '', '', '', '', ''];
    },
    handleCompose() {
      let test = this.list.map(item => {
        return {count: item.count, name: item.name, num: item.num}
      })
      console.table(test)
    },
    add(index) {
      let item = this.list[index];
      if (item.num > 0) {
        item.num--;
        this.$set(this.smallList, index, require('images/base/dot.png'));
        this.index++;
      }
    }
  }
}
</script>
<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 1rem;
    font-size: .26rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header>span {
    position: relative;
    width: 2rem;
    height: .26rem;
    padding: .15rem .5rem .15rem .2rem;
    line-height: .26rem;
    font-size: .25rem;
    border: 1px solid #999;
    border-radius: 3px;
  }
  .header>span::after {
    position: absolute;
    top: .23rem;
    right: .2rem;
    width: 0;
    height: 0;
    content: "";
    border-top: .1rem solid #999;
    border-left: .1rem solid transparent;
    border-right: .1rem solid transparent;

  }
  .header>a.active {
    color: #fff;
    background-color: #333;
    border-color: #333;
  }
  .content {
    position: relative;
    width: 6.9rem;
    margin: .3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .content .item {
    width: 2.1rem;
    margin-right: .3rem;
    margin-bottom: .3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    box-sizing: border-box;
  }
  .content .card {
    position: relative;
    width: 2.1rem;
    height: 2.5rem;
    border: 1px solid #999;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    box-sizing: border-box;
  }
  .content .card>p {
    width: 100%;
    line-height: 1.5rem;
    font-size: .24rem;
    text-align: center;
  }
  .content>div:nth-child(3n) {
    margin-right: 0;
  }
  .content .card>a {
    width: 100%;
    height: .24rem;
    padding: .1rem;
    line-height: .24rem;
    font-size: .2rem;
    text-align: right;
    color: red;
  }
  .content .card .start {
    position: absolute;
    top: 0;
    left: .1rem;
    width: 100%;
    height: .4rem;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-size: .24rem;
    overflow: hidden;
  }
  .content .item .start>span {
    font-size: .24rem;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 7.5rem;
    transform: translateX(-50%);
    font-size: .26rem;
    
    background-color: #fff;
    border-top: 1px solid #999;
  }
  .footer .card-small {
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer .card-small .item {
    width: 1rem;
    height: 1rem;
    border: 1px solid #999;
    border-radius: 3px;
    overflow: hidden;
  }
  .footer .card-small .item>img {
    width: 100%;
    height: 100%;
  }
  .footer .button-list {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .button-list>a {
    display: inline-block;
    margin-right: .3rem;
    padding: .15rem .3rem;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
  }
  .footer .button-list>a:last-child {
    margin-right: 0;
  }
</style>