<template>
  <div class="modal-box">
    <div class="modal-close" @click="close">×</div>
      <div class="modal-content">
        <h3>恭喜您获得五类卡1张</h3>
        <div class="card">
          <transition name="fadeIn">
            <img v-if="isShow" src="~images/card-A.png" alt="">
          </transition>
        </div>
        <a href="javascript:;" @click="close">立即领取</a>
      </div>
  </div>
</template>

<script>

export default {
  name: 'modal-card-lunck',
  data() {
    return {
      isShow: false,
      currentIndex: 0,
      nav: [
        { name: 'A', desc: '刮刮乐' },
        { name: 'B', desc: '大转盘' },
        { name: 'C', desc: '挖金子' },
        { name: 'D', desc: '砸金蛋' }
      ]
    }
  },
  created() {
    setTimeout(() => {
      this.isShow = true;
    }, 600);
  },
  methods: {
    close() {
      this.$emit('close');
    }
  }
}
</script>

<style scoped>
.modal-box {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  overflow-y: scroll;
  background-color: transparent;
  box-sizing: border-box;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: .9rem;
  text-align: center;
  color: #fff;
}

.modal-content {
  width: 6rem;
  height: 8rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: .1rem;
}
.modal-content>h3 {
  padding: .3rem 0;
  line-height: .32rem;
  font-size: .32rem;
  color: #333;
  text-align: center;
}
.modal-content .card {
  width: 4rem;
  height: 5rem;
  margin: .3rem auto;
  border: 1px solid #666;
  border-radius: .05rem;
  overflow: hidden;
}
.modal-content .card>img {
  width: 100%;
  height: 100%;;
}
.fadeIn-enter-active {
  animation: Show 1s ease-in-out both;
}
@keyframes Show {
  0%{
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }
  100%{
    transform: scale(1) rotate(1440deg);
    opacity: 1;
  }
}
.modal-content>a {
  display: block;
  width: 5rem;
  height: 1rem;
  margin: 0 auto;
  line-height: 1rem;
  font-size: .38rem;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
  background-color: #040404;
}
.modal-footer {
  padding: .3rem 0;
}
.modal-footer>p {
  font-size: .24rem;
  line-height: .38rem;
}
</style>