<template>
  <transition name="fadeIn">
    <jdh-modal-luck v-if="type === 'luck'" @close="close"></jdh-modal-luck>
  </transition>
</template>

<script>
import jdhModalLuck from './luck'

export default {
  name: 'modal-card',
  props: ['type'],
  methods: {
    close() {
      this.$emit('close')
    }
  },
  components: {
    jdhModalLuck
  }
}
</script>

<style scoped>
  .fadeIn-enter-active {
    animation: modalShow 0.6s ease both;
  }
  .fadeIn-leave-active {
    animation: modalHide 0.6s ease both;
  }
  @keyframes modalShow {
    0%{
      transform: translateY(-100%);
      opacity: 0;
    }
    100%{
      transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes modalHide {
    0%{
      transform: translateY(0%);
      opacity: 1;
    }
    100%{
      transform: translateY(-100%);
      opacity: 0;
    }
  }
</style>