<template>
  <div class="modal-box">
    <div class="modal-close" @click="close">×</div>
      <div class="modal-header">活动规则</div>
      <div class="modal-content">
        <p>1. 本活动共有5类普通卡片，分别是A类卡、B类卡、C类卡、D类卡、E类卡。</p>
        <p>2. 集齐5类卡片，可以合成1张特权卡。</p>
        <p>3. 消耗1张特权卡，可获得1次进入“抽奖福利社”，百分百中奖。</p>
        <p>4. 每天会赠送1次免费抽卡机会，更多抽奖机会可通过签到、好友助力等形式获得</p>
        <p>5. 用户助力可增加1次抽卡机会，每日最多可获得3次抽卡机会</p>
        <p>6. 邀请新用户，可获得1次抽卡机会 + 1张E类卡</p>
        <p>7. ....</p>
      </div>
  </div>
</template>

<script>

export default {
  name: 'modal-activity-rule',
  data() {
    return {}
  },
  methods: {
    close() {
      this.$emit('close');
    }
  }
}
</script>

<style scoped>
.modal-box {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  overflow-y: scroll;
  background-color: #fff;
  box-sizing: border-box;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: .9rem;
  text-align: center;
  color: #000;
}
.modal-header {
  padding: .3rem 0;
  line-height: .32rem;
  font-size: .32rem;
  color: #333;
  text-align: center;
}
.modal-content {
  width: 6.9rem;
  margin: 0 auto;
}
.modal-content>p {
  font-size: .24rem;
  line-height: .38rem;
}
</style>