<template>
  <div class="header">
    <img src="~images/banner.png">
    <a class="button" href="javascript:;"
      v-for="(item, index) in buttons"
      :key="index"
      :class="[item.value]"
      @click="handleClick(item.value)">{{item.label}}</a>
  </div>
</template>

<script>

export default {
  name: 'page-header',
  data() {
    return {
      buttons: [
        { label: '规则', value: 'rule' },
        { label: '参与记录', value: 'partakeRecord' }
      ]
    }
  },
  methods: {
    handleClick(val) {
      this.EventBus.$emit("emitGetRuleOrRecord", val);
    }
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 8.8rem;
    overflow: hidden;
  }
  .header>img {
    width: 100%;
  }
  .header .button {
    position: absolute;
    right: 0;
    display: inline-block;
    height: .22rem;
    padding: .1rem .1rem .07rem .2rem;
    font-size: .22rem;
    line-height: .22rem;
    color: #d12500;
    background-color: #f7ada1;
    border-top-left-radius: .35rem;
    border-bottom-left-radius: .35rem;
  }
  .header .button.rule {
    top: 2rem;
  }
  .header .button.partakeRecord {
    top: 2.6rem;
  }
</style>