<template>
  <div class="modal-packet-box">
    <gl-modal-button-close></gl-modal-button-close>
    <div class="modal-price">
      <gl-price :layout="layout">{{price | number2Decimal}}</gl-price>
    </div>
    <gl-modal-top-title class="modal-title">恭喜获得无门槛红包 !</gl-modal-top-title>
    <gl-modal-button-ensure
      class="modal-button-ensure"
      :type="'helpingSuccess'">领取更多</gl-modal-button-ensure>
    <a class="modal-ad-box" :href="adverts.link">
      <img :src="adverts.imgUrl" alt="">
    </a>
  </div>
</template>

<script>
export default {
  name: 'boostSuccess',
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      layout: {
        isBold: true,
        sign: { fontSize: '.5rem' },
        value: { fontSize: '.8rem' }
      },
      price: '0.00',
      adverts: {
        link: 'javascript:;',
        imgUrl: ''
      }
    }
  },
  watch: {
    data: {
      immediate: true,
      handler(newVal, oldVal) {
        let joyData = newVal.joyData;

        this.adverts.link   = newVal.extData.link;
        this.adverts.imgUrl = newVal.extData.pictureUrl;
        this.price          = joyData.readBagPrice;

      }
    }
  }
}
</script>

<style scoped>
  .modal-packet-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6.4rem;
    height: 8.25rem;
    margin-top: -4.125rem;
    margin-left: -3.2rem;
    background-image: url(../../../../../assets/images/every-day-get-packet/modal-packet-bg4.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 6.4rem;
  }
  .modal-price {
    position: absolute;
    top: 2.3rem;
    left: 1.1rem;
    width: 4.45rem;
    height: 1.1rem;
    text-align: center;
    color: #EC0420;
  }
  .modal-title {
    top: 3.4rem;
    left: 1.1rem;
  }
  .modal-packet-box .modal-button-ensure {
    left: 1.525rem;
    bottom: 1.7rem;
  }
  .modal-packet-box .modal-ad-box {
    position: absolute;
    left: 1.1rem;
    bottom: 0rem;
    width: 4.4rem;
    height: 1.12rem;
    display: block;
  }
  .modal-packet-box .modal-ad-box::before,
  .modal-packet-box .modal-ad-box::after {
    position: absolute;
    top: -.35rem;
    width: .28rem;
    height: .6rem;
    content: "";
    background: url(../../../../../assets/images/every-day-get-packet/modal-link-scope.png) center no-repeat / 100% 100%;
  }
  .modal-packet-box .modal-ad-box::before {
    left: .4rem;
  }
  .modal-packet-box .modal-ad-box::after {
    right: .4rem;
  }
  .modal-packet-box .modal-ad-box>img {
    display: block;
    width: 100%;
    border-radius: .1rem;
  }
</style>