<template>
  <div class="page">
    <div class="header">
      <img class="banner" src="~images/base/dot.png" alt="">
    </div>
    <a class="reset-card" href="javascript:;">活动公告</a>
    <div class="content">
      <div v-for="(item, index) in list" :key="index"
       :class="['item', `item-${index}`]"
       @click="handleChange(index)">
        <h3 class="title">
          <span>{{item.title}}</span>
          <span>{{item.updateTime}}</span>
        </h3>
        <div ref="item" class="desc" v-show="item.isShow">{{item.content}}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'notice-list',
  data() {
    return {
      list: [
        { title: '2.0版本更新公告', updateTime: '2019-12-02', content: `
        1.调整了自动人偶书记的强度。
        2.自动人偶书记增加了新的头像。
        3.进阶对战如果遇到自动人偶书记的话不再有额外的收益。
        4.对战属性克制改动，具体请在【对战】→【组建卡牌】→【更多】→【说明】中查看。
        5.修复大量不为人知的BUG。`, isShow: false },
        { title: '1.3版本更新公告', updateTime: '2019-11-23', content: '...', isShow: false },
        { title: '双十一豪礼送不停', updateTime: '2019-10-31', content: '...', isShow: false },
        { title: '1.2版本更新公告', updateTime: '2019-09-12', content: '...', isShow: false },
        { title: '京东618卡片大放送', updateTime: '2019-06-01', content: '...', isShow: false },
        { title: '1.0发布上线公告', updateTime: '2019-05-10', content: '...', isShow: false },
      ]
    }
  },
  methods: {
    handleChange(index) {
      this.list[index].isShow = !this.list[index].isShow;
      this.list = [].concat(this.list);
    }
  }
}
</script>

<style scoped>
  .header {
    position: relative;
    width: 100%;
    height: 3.5rem;
  }
  .header img.banner {
    width: 100%;
    height: 100%;
  }
  .reset-card {
    display: block;
    width: 2rem;
    height: .26rem;
    margin: .3rem auto;
    padding: .2rem 0;
    line-height: .26rem;
    font-size: .26rem;
    text-align: center;
    border: 1px solid #999;
    border-radius: 3px;
  }
  .content {
    position: relative;
    width: 6.9rem;
    margin: .3rem auto;
  }
  .content .item {
    width: 100%;
    padding: .15rem 0rem;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
  }
  .content .item>h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: .6rem;
    font-size: .28rem;
  }
  .content .item>h3>span:last-child {
    position: relative;
    display: inline-block;
    padding-right: .5rem;
  }
  .content .item>h3>span:last-child::after {
    position: absolute;
    top: .2rem;
    right: .2rem;
    width: .15rem;
    height: .15rem;
    content: '';
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    transform: rotate(45deg);
  }
  .content .item .desc {
    font-size: .24rem;
    color: #999;
  }
</style>