<template>
    <div>
<!--        <mt-header fixed :title="'消息中心'+totalCount">-->
<!--            <router-link to="/" slot="left">-->
<!--                <mt-button icon="back"></mt-button>-->
<!--            </router-link>-->
<!--        </mt-header>-->
        <div class="wrap">
<!--            <div class="type-wrap">-->
<!--                <div class="type-btn">-->
<!--                    <img width="30" height="30" src="../../assets/images/msgCenter/交易物流@2x.png" alt="">-->
<!--                    <div class="type-title">交易物流</div>-->
<!--                </div>-->
<!--                <div class="type-btn">-->
<!--                    <img width="30" height="30" src="../../assets/images/msgCenter/提醒通知@2x.png" alt="">-->
<!--                    <div class="type-title">提醒通知</div>-->
<!--                </div>-->
<!--            </div>-->
            <div v-if="msgList.length<1" class="noneMsg">
                <img src="../../assets/images/msgCenter/noneMsg@2x.png" alt="">
                <div style="color: #7D7D7D">暂无任何消息</div>
            </div>
            <div class="msg-list">
                <div @click="toJM(item.transportLink)" class="msg-item" v-for="(item,index) in msgList" :key="index">
                    <div style="position: relative">
                        <div v-show="item.unReadNum" class="count">{{item.unReadNum}}</div>
                        <div class="avatar">
                            <img width="45" :src="'https://m.360buyimg.com/babel/'+item.venderHeadLink" alt="">
                        </div>
                    </div>
                    <div class="content">
                        <div class="name-wrap">
                            <div class="name">{{item.venderName}}</div>
                            <span style="display: flex;flex-direction: row;">
                                <div v-show="item.venderLabels[0].labelContentType==1" class="label1">{{item.venderLabels[0].labelName}}</div>
                                <div v-show="item.venderLabels[0].labelContentType==1" class="label">{{item.venderLabels[0].labelName}}</div>
                                <div v-show="item.venderLabels[0].labelContentType==4">
                                    <div class="label2"></div>
                                    <div class="label">{{item.venderLabels[0].labelName}}</div>
                                </div>
                                <div v-show="item.venderLabels[0].labelContentType==3" class="label3">{{item.venderLabels[0].labelName}}</div>
                                <div v-show="item.venderLabels[0].labelContentType==2" class="label4">
                                    <img height="20px" :src="item.venderLabels[0].labelLinkUrl" alt="">
                                </div>
                            </span>
                            <div style="font-size: 14px;color: #cccccc;position: absolute;right: 16px;">{{item.lastChatTime.split(' ')[0]}}</div>
                        </div>
                        <div class="msg">
                            {{item.lastChatContent}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    window.onunload = function () {

    }
    export default {
        name: "coupon",
        data(){
            return{
                total:null,
                selected:'1',
                list:[1,2,3,4,5],
                type:'',
                phone:'',
                msgList:[],
                timer:null
            }
        },
        mounted() {
            let that = this
            this.getData()
            // setInterval(function (){that.getData()},2000)
        },
        computed:{
            totalCount:function () {
                return this.total?'('+this.total+')':''
            }
        },
        methods:{
            setType(t){
                this.type=t
            },
            loadMore() {
                this.loading = true;
                this.timer = setTimeout(() => {
                    let last = this.list[this.list.length - 1];
                    for (let i = 1; i <= 10; i++) {
                        this.list.push(last + i);
                    }
                    this.loading = false;
                }, 2500);
            },
            toJM( item){
                window.location.href = item
                this.setRead()
            },
            setRead(){
                //jdh_mc_message_operate_read
                let that = this
                axios.defaults.crossDomain = true;
                axios.defaults.withCredentials  = true;
                axios.post('http://beta-api.m.jd.com/api?functionId=jdh_mc_message_operate_read&body={}&jsonp=&appid=jd_healthy_wx&loginType=2')
                    .then(function (res) {
                        if(res.data.success){

                        }
                    })
                    .catch(function (error) {

                    })
            },
            getData(){
                let that = this
                axios.defaults.crossDomain = true;
                axios.defaults.withCredentials  = true;
                axios.post('http://beta-api.m.jd.com/api?functionId=jdh_mc_message_query_appmessagebox&body={}&jsonp=&appid=jd_healthy_wx&loginType=2')
                .then(function (res) {
                    if(res.data.success){
                        that.msgList = res.data.data.chatSessionInfos
                        that.total=res.data.data.totalUnReadCount
                    }
                })
                .catch(function (error) {

                })

            }
        }
    }
</script>

<style scoped>
    .wrap{
        margin-top: 50px;
    }
    .type-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .type-title{
        font-size: 16px;
        color: #8C8C8C;
        font-weight: bold;
        margin-left: 12px;
    }
    .type-btn{
        display: flex;
        flex-direction: row;
        width: 45%;
        height: 80px;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0 10px 100px 10px rgba(225,225,229,0.5);
        border-radius: 6px;
    }
    .msg-list{
        font-size: 0px;
        margin-top: 20px;
    }
    .msg-item{
        display: flex;
        flex-direction: row;
        padding: 0 10px;
        margin: 18px 0;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #F2F2F2;
        flex: 1;
    }
    .name-wrap{
        display: flex;
        flex-direction: row;
        margin-bottom: 4px;
    }
    .name{
        font-size: 16px;
        font-family: PingFangSC-Medium, sans-serif;
        color: #262626;
        font-weight: bold;
        margin-right: 8px;
    }
    .label3{
        background: #86beff;
        position: absolute;
        font-size: 12px;
        font-family: PingFangSC-Medium, sans-serif;
        border-radius: 2px;
        padding: 2px 4px;
        font-weight: bold;
        color: #fff;
    }
    .label1{
        position: absolute;
        height: 20px;
        width: 32px;
        background-image: linear-gradient(to right,#ff552e,#ff9361);
        border-radius: 4px;
    }
    .label2{
        position: absolute;
        height: 20px;
        width: 56px;
        background-image: linear-gradient(to right,#d3a544,#edcc77);
        border-radius: 2px;
    }
    .label{
        width: 60px;
        position: absolute;
        font-size: 12px;
        border-radius: 4px;
        padding: 2px 4px;
        font-weight: bold;
        color: #fff;
    }
    .label4{
        height: 20px;
        width: 32px;
        font-size: 14px;
    }
    .msg{
        max-width: 5.6rem;
        font-size: 12px;
        color: #8C8C8C;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        margin-bottom: 15px;
    }
    .avatar{
        width: 45px;
        height: 45px;
        margin-right: 12px;
        border-radius: 30px;
        overflow: hidden;
    }
    .time{
        color: #BFBFBF;
    }
    .count{
        width: 14px;
        height: 14px;
        position: absolute;
        right: 5px;
        top:-4px;
        border-radius: 7px;
        background: #ff552e;
        font-size: 12px;
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
        font-weight: bold;
    }
    .noneMsg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        font-size: 18px;
        font-family: PingFangSC-Medium, sans-serif;
    }
</style>
