<template>
  <div class="modal-box">
    <div class="modal-close" @click="close">×</div>
      <div class="modal-header">合成特权卡片</div>
      <div class="modal-content">
        <div class="nav">
          <div class="item" v-for="(item, index) in nav" :key="index"
            :class="[currentIndex == index ? 'active' : '']"
            @click="currentIndex = index">
            <h3>{{item.name}}</h3>
            <p>{{item.desc}}</p>
          </div>
        </div>
        <div class="card">
          <transition name="fadeIn">
            <img v-if="isShow" src="~images/card-T.png" alt="">
          </transition>
        </div>
        <a href="javascript:;" @click="isShow = true">合成</a>
      </div>
      <div class="modal-footer">
        <p>1. 集齐五类卡后，消耗5张不同的五类卡可合成1张特权卡。</p>
        <p>2. 合成特权卡之前，请选择需要合成的特权卡类别。</p>
        <p>3. 特权卡分为A, B, C, D四类，不同特权卡拥有不同的特权。</p>
        <p>4. ...</p>
      </div>
  </div>
</template>

<script>

export default {
  name: 'modal-activity-rule',
  data() {
    return {
      isShow: false,
      currentIndex: 0,
      nav: [
        { name: 'A', desc: '刮刮乐' },
        { name: 'B', desc: '大转盘' },
        { name: 'C', desc: '挖金子' },
        { name: 'D', desc: '砸金蛋' }
      ]
    }
  },
  methods: {
    close() {
      this.$emit('close');
    }
  }
}
</script>

<style scoped>
.modal-box {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  overflow-y: scroll;
  background-color: #fff;
  box-sizing: border-box;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: .9rem;
  text-align: center;
  color: #000;
}
.modal-header {
  padding: .3rem 0;
  line-height: .32rem;
  font-size: .32rem;
  color: #333;
  text-align: center;
}
.modal-content,
.modal-footer {
  width: 6.9rem;
  margin: 0 auto;
}
.modal-content .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-content .nav .item {
  padding: .1rem;
  text-align: center;
  border: 1px solid #666;
  border-radius: .05rem;
}
.modal-content .nav .item.active {
  color: #fff;
  background-color: #040404;
}
.modal-content .nav .item>h3 {
  font-weight: bold;
  font-size: .28rem;
}
.modal-content .nav .item>p {
  font-size: .2rem;
}
.modal-content .card {
  width: 4rem;
  height: 5rem;
  margin: .3rem auto;
  border: 1px solid #666;
  border-radius: .05rem;
  overflow: hidden;
}
.modal-content .card>img {
  width: 100%;
  height: 100%;;
}
.fadeIn-enter-active {
  animation: Show 1s ease-in-out both;
}
@keyframes Show {
  0%{
    transform: scale(0) rotateY(0deg);
    opacity: 0;
  }
  100%{
    transform: scale(1) rotateY(1440deg);
    opacity: 1;
  }
}
.modal-content>a {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
  line-height: 1.5rem;
  font-size: .48rem;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background-color: #040404;
}
.modal-footer {
  padding: .3rem 0;
}
.modal-footer>p {
  font-size: .24rem;
  line-height: .38rem;
}
</style>