<template>
  <div class="order-wrap" :style="{height:pageHeight+'px'}">
    <div class="topAdvert">
      <img
        src="https://m.360buyimg.com/pop/jfs/t1/100537/12/11674/87283/5e3b8df8Ecff9be21/ea4238ee09ea0f32.png"
        alt
      />
    </div>
    <ul>
      <li v-for="(item,index) in datalist" :key="index">
        <div class="left">
          <img :src="item.imgUrl" alt />
        </div>
        <div class="right">
          <div class="text">
            <p class="name">{{item.fullName}}</p>
            <p class="tip">
              评完最多可获
              <span>{{item.number}}</span>
              京享值
            </p>
          </div>
          <div class="btn-bar">
            <span v-for="(item,index) in item.buttons" :key="index">
              <mt-button
                :type="item.canClick?'danger':'default'"
                plain
                :class="{'addimgbtn':item.showLabel.length>3}"
              >{{item.showLabel}}</mt-button>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "coupon",
  data() {
    return {
      pageHeight: 600,
      datalist: [
        {
          imgUrl:
            "https://m.360buyimg.com/pop/jfs/t1/106294/17/11645/57820/5e3ab4b3E3be18e7a/b289c950df237b8a.png",
          fullName:
            "十月稻田 百合干 南北干货 滋补养生 煲汤 银耳桂圆枸杞冰糖莲子 特产食材100g",
          number: "17",
          append: false,
          share: false,
          first: true,
          buttons: [
            {
              canClick: true,
              opType: 1,
              url:
                "http://apollo-evaluate.jd.com/?page=EvaluatePublish&productId=1909637&orderId=101074493635",
              showLabelId: 26,
              showLabel: "评价"
            }
          ]
        },
        {
          imgUrl:
            "https://m.360buyimg.com/pop/jfs/t1/109132/13/5467/108237/5e3ab4efE751ea6a0/bb1cda79a9399e06.png",
          fullName: "吉得利 大料50g*2袋 香料茴香八角厨房调料炖肉煲汤调料",
          number: "27",
          append: false,
          share: false,
          first: true,
          buttons: [
            {
              canClick: true,
              opType: 1,
              url:
                "http://apollo-evaluate.jd.com/?page=EvaluatePublish&productId=1909637&orderId=101074493635",
              showLabelId: 26,
              showLabel: "评价"
            }
          ]
        },
        {
          imgUrl:
            "https://m.360buyimg.com/pop/jfs/t1/106294/17/11645/57820/5e3ab4b3E3be18e7a/b289c950df237b8a.png",
          fullName:
            "十月稻田 百合干 南北干货 滋补养生 煲汤 银耳桂圆枸杞冰糖莲子 特产食材100g",
          number: "40",
          append: false,
          share: false,
          first: true,
          buttons: [
            {
              canClick: true,
              opType: 1,
              url:
                "http://apollo-evaluate.jd.com/?page=EvaluatePublish&productId=1909637&orderId=101074493635",
              showLabelId: 26,
              showLabel: "添加晒图"
            },
            {
              canClick: false,
              opType: 1,
              url:
                "http://apollo-evaluate.jd.com/?page=EvaluatePublish&productId=1909637&orderId=101074493635",
              showLabelId: 26,
              showLabel: "追评"
            }
          ]
        },
        {
          imgUrl:
            "https://m.360buyimg.com/pop/jfs/t1/109132/13/5467/108237/5e3ab4efE751ea6a0/bb1cda79a9399e06.png",
          fullName: "吉得利 大料50g*2袋 香料茴香八角厨房调料炖肉煲汤调料",
          number: "7",
          append: false,
          share: false,
          first: true,
          buttons: [
            {
              canClick: true,
              opType: 1,
              url:
                "http://apollo-evaluate.jd.com/?page=EvaluatePublish&productId=1909637&orderId=101074493635",
              showLabelId: 26,
              showLabel: "追评"
            }
          ]
        }
      ]
    };
  },
  mounted() {
    this.geta();
  },
  methods: {
    geta() {
      let pageHeight = window.screen.height;
      this.pageHeight = pageHeight;
    },
    getData() {
      let that = this;
      axios.defaults.crossDomain = true;
      axios.defaults.withCredentials = true;
      axios
        .post(
          'https://api.m.jd.com/api?functionId=feedbackCollectorCreate&body={"source":"jdh","dsCode":"EAFC73D044DBB95732AED5D1322E7BDEB654FCCF","content":"' +
            this.content +
            '","contact":"' +
            this.phone +
            '","type":"' +
            this.typeText +
            '"}&jsonp=&appid=jd_healthy_wx&loginType=2&fromType=wxapp×tamp=1568727224247&uuid=7bc5d1845b27b14b64a1ae84e78c1c1fd61'
        )
        .then(function(res) {
          toast.show({
            text: `我们已收到您的反馈，会尽快为您解决`,
            duration: 3000
          });
        })
        .catch(function(error) {});
    }
  }
};
</script>

<style scoped>
.order-wrap {
  background-color: #f2f2f2;
}
.topAdvert {
  height: 0.94rem;
  overflow: hidden;
}
.topAdvert img {
  width: 100%;
  height: 100%;
}
.order-wrap ul {
  overflow: hidden;
}
.order-wrap ul li {
  background-color: #ffffff;
  padding: 0.4rem;
  margin-bottom: 0.03rem;
  display: flex;
}
.left {
  width: 1.64rem;
  height: 1.64rem;
  float: left;
  overflow: hidden;
  margin-right: 0.2rem;
}
.left img {
  width: 100%;
  height: 100%;
}
.right {
  flex: 1;
}
.right .text .name {
  font-size: 0.24rem;
}
.right .text .tip {
  font-size: 0.2rem;
  margin-top: 0.1rem;
  color: #848484;
}
.right .text .tip span {
  color: #ff0000;
}
.right .btn-bar {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.1rem;
  overflow: hidden;
}
.right .btn-bar span {
  display: inline-block;
  height: 0.54rem;
}
.right .btn-bar span button{
  display: block;
  height: 0.54rem;
  font-size: 0.2rem;
  padding: 0 0.3rem;
  margin-left: 0.2rem;
}
.right .btn-bar .addimgbtn {
  padding: 0 0.2rem;
}
</style>
