<template>
  <div class="modal-packet-box">
    <gl-modal-button-close></gl-modal-button-close>
    <gl-modal-top-title class="modal-title">恭喜您被红包砸中啦!</gl-modal-top-title>
    <div class="modal-price">
      <gl-price :layout="layout">{{price | number2Decimal}}</gl-price>
    </div>
    <gl-modal-button-ensure
      class="modal-button-ensure"
      :type="'boosted'">邀好友继续开红包</gl-modal-button-ensure>
    <a class="modal-button-go-hall" href="javascript:;" @click="handleClick">去逛会场</a>
  </div>
</template>

<script>
export default {
  name: 'boosted',
  props: ['data'],
  data() {
    return {
      layout: {
        isBold: true,
        sign: { fontSize: '.5rem' },
        value: { fontSize: '.8rem' }
      },
      price: '0.00'
    }
  },
  watch: {
    data: {
      immediate: true,
      handler(newVal, oldVal) {
        this.price = newVal.readBagPrice || 0;
      }
    }
  },
  methods: {
    handleClick() {
      this.EventBus.$emit("modalButtonEnsureClick", "goHall");
    }
  }
}
</script>

<style scoped>
  .modal-packet-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 6.4rem;
    height: 7.8rem;
    margin-top: -3.9rem;
    margin-left: -3.2rem;
    background-image: url(../../../../../assets/images/every-day-get-packet/modal-packet-bg1.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 6.4rem;
  }
  .modal-packet-box .modal-title {
    top: 2.6rem;
    left: 1.1rem;
  }
  .modal-packet-box .modal-price {
    position: absolute;
    top: 3.1rem;
    left: 1.1rem;
    width: 4.45rem;
    height: 1.1rem;
    text-align: center;
    color: #EC0420;
  }
  .modal-packet-box .modal-button-ensure {
    left: 1.525rem;
    bottom: 1rem;
  }
  .modal-packet-box .modal-button-go-hall {
    position: absolute;
    left: 2.575rem;
    bottom: .6rem;
    display: block;
    width: 1.5rem;
    height: .28rem;
    line-height: .28rem;
    font-size: .28rem;
    color: #fff;
    text-align: center;
  }
  .modal-packet-box .modal-button-go-hall::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: .1rem;
    height: .21rem;
    content: "";
    background: url(../../../../../assets/images/every-day-get-packet/go-hall-arrow.png) center / 100% 100% no-repeat;
    transform: translateY(-50%);
  }
</style>