<template>
  <div class="modal-packet-box">
    <gl-modal-button-close></gl-modal-button-close>
    <gl-modal-top-title class="modal-title">{{data.topTitle}}</gl-modal-top-title>
    <div class="modal-price">
      <span>总计:</span>
      <gl-price :layout="layout">{{data.price}}</gl-price>
    </div>
    <div class="record-list">
      <div class="item" v-for="(item, index) in data.list" :key="index">{{item}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'modal-packet-06',
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      layout: {
        isBold: true,
        sign: { fontSize: '.2rem' },
        value: { fontSize: '.34rem' }
      }
    }
  }
}
</script>

<style scoped>
  .modal-packet-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6.4rem;
    height: 7.8rem;
    margin-top: -3.9rem;
    margin-left: -3.2rem;
    background-image: url(../../../../../assets/images/every-day-get-packet/modal-packet-bg2.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 6.4rem;
  }
  .modal-title {
    top: 2.5rem;
    left: 1.1rem;
    width: 2.65rem;
    padding-bottom: .1rem;
  }
  .modal-price {
    position: absolute;
    top: 3.2rem;
    left: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.45rem;
    font-size: .3rem;
    text-align: center;
    color: #EC0420;
    font-weight: bold;
  }
  .modal-price>span {
    padding-right: .1rem;
  }
  .modal-packet-box .record-list {
    position: absolute;
    top: 3.8rem;
    left: 1.1rem;
    width: 4.45rem;
    line-height: .38rem;
    font-size: .26rem;
    color: #740700;
    text-align: center;
  }
</style>